[Desktop Entry]
Exec=postinstaller -n chemtool
Version=1.0
Name=Chemtool
GenericName=Chemistry Structure Editor
Comment=Draw and make calculations on chemical structures
Type=Application
Icon=/usr/share/app-install-data-postinstallerf/icons/chemtool.png
Terminal= false
Categories=Science;Chemistry;Education;
