[Desktop Entry]
Exec=postinstaller -n controlaula
Version=1.0
Type=Application
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_pixmaps_controlaula.png
Terminal=false
Name[es_ES]=Control del Aula
Name= Classrooom control
Name[fr]=Control de la classe
Comment[es_ES]=Herramienta para que el profesor pueda controlar los ordenadores del aula
Comment[fr]=Outil pour controller les ordinateurs de la classe
Comment=Teacher tool to control classroom computers
Categories=Application;Education;
