[Desktop Entry]
Exec=postinstaller -n critterding
Name=Critterding
GenericName=Evolving Artificial Life
Comment=Petri dish universe in 3D that demonstrates evolving artificial life
Icon=/usr/share/app-install-data-postinstallerf/icons/critterding.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Education;Science;
