[Desktop Entry]
Exec=postinstaller -n pymca
Version=1.0
Name=EDFviewer
Name[en_GB]=EDFviewer
GenericName=Display files in ESRF Data Format
GenericName[en_GB]=Display files in ESRF Data Format
Type=Application
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_pixmaps_pymca.png
Terminal=false
Categories=Science;Education;Physics;
