[Desktop Entry]
Exec=postinstaller -n felix-latin
Name=Latin-French dictionary
Name[fr]=dictionnaire Latin-Français
Comment=Gaffiot s dictionary is a reference book
Comment[fr]=Le gaffiot est une référence en matière de dictionnaire latin-français
Icon=/usr/share/app-install-data-postinstallerf/icons/felix.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Education;
