[Desktop Entry]
Exec=postinstaller -n garlic
Version=1.0
Name=Garlic Protein Visualization
Name[en_GB]=Garlic Protein Visualisation
GenericName=Protein Visualization
GenericName[en_GB]=Protein Visualisation
Comment=Visualize and investigate proteins and some geometric objects
Comment[en_GB]=Visualise and investigate proteins and some geometric objects
Type=Application
Icon=/usr/share/app-install-data-postinstallerf/icons/garlic.png
Categories=Science;Biology;Chemistry;Education;
