[Desktop Entry]
Exec=postinstaller -n gchempaint
Version=1.0
Name=GChemPaint Chemical Structures Editor
Name[de]=GChemPaint Chemischer Strukturformeleditor
Name[el]=Επεξεργαστής Χημικών Δομών GChemPaint
Name[fr]=Éditeur de structures chimiques GChemPaint
Name[pl]=Edytor wzorów strukturalnych GChemPaint
Name[zh_TW]=GChempaint 化學結構編輯軟體
Comment=Edit chemical 2D structures
Comment[de]=Erstellt 2D-Formeln chemischer Strukturen
Comment[el]=Επεξεργασία δισδιάστατων χημικών δομών
Comment[fr]=Édite des structures chimiques 2D
Comment[it]=Modifica le strutture chimiche 2D
Comment[pl]=Edytuj dwuwymiarowe wzory chemiczne
Comment[pt_BR]=Edita estruturas químicas 2D
Comment[ru]=Редактирование химических структур
Comment[zh_CN]=编辑 2D 化学结构
Comment[zh_TW]=編輯 2D 化學結構
Terminal=false
Type=Application
Icon=/usr/share/app-install-data-postinstallerf/icons/gchempaint.png
Categories=GTK;GNOME;Education;Science;Chemistry;
