[Desktop Entry]
Exec=postinstaller -n graphmonkey
Name=Graphmonkey
Comment=Draw mathematical graphs/curves
Icon=/usr/share/app-install-data-postinstallerf/icons/graphmonkey.png
Terminal=false
Type=Application
Categories=Education;
StartupNotify=true
