[Desktop Entry]
Exec=postinstaller -n mnemosyne
Name=Mnemosyne
Comment=A flash card program to make your review process more efficient
Icon=/usr/share/app-install-data-postinstallerf/icons/mnemosyne.png
Categories=Education
Terminal=false
Type=Application
