[Desktop Entry]
Exec=postinstaller -n mobile-atlas-creator
Type=Application
Version=1.0
Name=Mobile Atlas Creator
GenericName=Mobile Atlas Creator
Name[de]=Mobile Atlas Creator
Name[ast]=Mobile Atlas Creator
Name[bg]=Mobile Atlas Creator
Name[bs]=Mobile Atlas Creator
Name[ca]=Mobile Atlas Creator
Name[ca@valencia]=Mobile Atlas Creator
Name[cs]=Mobile Atlas Creator
Name[csb]=Mobile Atlas Creator
Name[da]=Mobile Atlas Creator
Name[el]=Mobile Atlas Creator
Name[en_GB]=Mobile Atlas Creator
Name[eo]=Mobile Atlas Creator
Name[es]=Mobile Atlas Creator
Name[et]=Mobile Atlas Creator
Name[eu]=Mobile Atlas Creator
Name[fi]=Mobile Atlas Creator
Name[fr]=Mobile Atlas Creator
Name[ga]=Mobile Atlas Creator
Name[gl]=Mobile Atlas Creator
Name[he]=Mobile Atlas Creator
Name[hr]=Mobile Atlas Creator
Name[hu]=Mobile Atlas Creator
Name[is]=Mobile Atlas Creator
Name[it]=Mobile Atlas Creator
Name[ja]=Mobile Atlas Creator
Name[kk]=Mobile Atlas Creator
Name[ko]=Mobile Atlas Creator
Name[lt]=Mobile Atlas Creator
Name[lv]=Mobile Atlas Creator
Name[nb]=Mobile Atlas Creator
Name[nds]=Mobile Atlas Creator
Name[nl]=Mobile Atlas Creator
Name[nn]=Mobile Atlas Creator
Name[pl]=Mobile Atlas Creator
Name[pt]=Mobile Atlas Creator
Name[pt_BR]=Mobile Atlas Creator
Name[ro]=Mobile Atlas Creator
Name[ru]=Mobile Atlas Creator
Name[sl]=Mobile Atlas Creator
Name[sv]=Mobile Atlas Creator
Name[tr]=Mobile Atlas Creator
Name[uk]=Mobile Atlas Creator
Comment=create offline-atlases for GPS/cell phone applications
Comment[de]=Offline-Atlanten (Karten) für Handys und Navis erstellen
Comment[it]=Creare atlante (mappe off line) per telefoni cellulari
Comment[es]=Crear atlas (mapas off-line) para telefonos moviles
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_pixmaps_mobile-atlas-creator_mobac.png
Terminal=false
Categories=Education;Geography
