[Desktop Entry]
Exec=postinstaller -n oregano
Name=Oregano
Name[fr]=Oregano
GenericName=Electrical Engineering Tool
GenericName[fr]=Outil d ingéniérie éléctrique
Comment=Schematic, capture and simulation of electronic circuits
Comment[fr]=Permet de saisir et de simuler des circuits éléctroniques.
Icon=/usr/share/app-install-data-postinstallerf/icons/gnome-oregano.svg.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Science;Education;Physics;
StartupNotify=true
