[Desktop Entry]
Exec=postinstaller -n pysycache
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_pixmaps_pysycache.png
Type=Application
Categories=Education;KidsGame
Name=PySyCache
GenericName=PySyCache
Comment=Teach kids to move the mouse
Comment[fr]=Apprendre aux enfants à manipuler la souris
Comment[es]=Enseña a los niños a usar el ratón
Terminal=true
StartupNotify=false
