##!/usr/bin/env xdg-open
[Desktop Entry]
Exec=postinstaller -n wxgeometrie
Type=Application
Version=1.0
Name=WxGeometrie
GenericName=Mathematical software
GenericName[fr]=Logiciel de mathématiques
Comment=Swiss army knife for math teachers
Comment[fr]=Le couteau suisse du prof de maths
Icon=/usr/share/app-install-data-postinstallerf/icons/wxgeometrie.png
Terminal=false
Categories=Education;Science;Math;
