[Desktop Entry]
Exec=postinstaller -n openuniverse
Version=1.0
Type=Application
Name=OpenUniverse Space Simulator
GenericName=Space Simulator
Comment=Explore the solar system in this accurate simulation
Comment[es]=Explora el sistema solar en esta simulación
Icon=/usr/share/app-install-data-postinstallerf/icons/openuniverse.png
Categories=Application;Science;Education;Astronomy;
