[Desktop Entry]
Exec=postinstaller -n system-config-audit
Name=Audit Configuration
Name[as]=অডিটৰ বিন্যাস
Name[bn_IN]=অডিট সংক্রান্ত কনফিগারেশন
Name[cs]=Nastavení auditu
Name[da]=Konfiguration af overvågning
Name[de]=Audit-Konfiguration
Name[es]=Configuración de auditoría
Name[fr]=Configuration Audit
Name[gu]=ઓડિટ રૂપરેખાંકન
Name[hi]=ऑडिट विन्यास
Name[hu]=Vizsgálat Beállítás
Name[it]=Configurazione audit
Name[ja]=監査設定
Name[kn]=ಆಡಿಟ್ ಸಂರಚನೆ
Name[ko]=감사 설정 
Name[mai]=आडिट विन्यास
Name[ml]=ഓഡിറ്റ് ക്രമികരണം
Name[mr]=ऑडिट संयोजना
Name[nl]=Audit Configuratie
Name[or]=ସମ୍ପାଦନ ବିନ୍ୟାସ
Name[pa]=ਆਡਿਟ ਸੰਰਚਨਾ
Name[pl]=Konfiguracja audytu
Name[pt]=Configuração de Auditoria
Name[pt_BR]=Configuração da auditoria
Name[ru]=Конфигурация аудита
Name[sk]=Nastavenie auditu
Name[sr]=Подешавања провере
Name[sr@latin]=Podešavanja provere
Name[sv]=Granskningskonfiguration
Name[ta]=ஆய்வு கட்டமைப்பு
Name[te]=ఆడిట్ ఆకృతీకరణ
Name[zh_CN]=审查配置
Name[zh_TW]=稽核配置
Comment=Modify audit configuration
Comment[as]=অডিট বিন্যাস পৰিবৰ্তন কৰক
Comment[bn_IN]=অডিট কনফিগারেশন পরিবর্তন করুন
Comment[cs]=Upravit nastavení auditu
Comment[da]=Redigér konfiguration for audit
Comment[de]=Modifiziere Audit-Konfiguration
Comment[es]=Modificar la configuración de auditoría
Comment[fr]=Modifier la configuration audit
Comment[gu]=ઓડિટ રૂપરેખાંકનને બદલો
Comment[hi]=ऑडिट विन्यास बदलें
Comment[hu]=Vizsgálat belállítás változtatása
Comment[it]=Modifica la configurazione di audit
Comment[ja]=監査設定を修正
Comment[kn]=ಆಡಿಟ್ ಸಂರಚನೆಯನ್ನು ಬದಲಾಯಿಸಿ
Comment[ko]=감사 설정 수정 
Comment[mai]=आडिट विन्यास बदलू
Comment[ml]=ഓഡിറ്റ് ക്രമികരണത്തില്‍ മാറ്റം വരുത്തുക
Comment[mr]=ऑडिट संयोजना संपादीत करा
Comment[nl]=Pas audit configuratie aan
Comment[or]=ସମ୍ପାଦନ ବିନ୍ୟାସକୁ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਸੋਧ ਕੀਤੀ ਆਡਿਟ ਸੰਰਚਨਾ
Comment[pl]=Modyfikacja konfiguracji audytu
Comment[pt]=Modificar configuração de auditoria
Comment[pt_BR]=Modificar configuração de auditoria
Comment[ru]=Изменить настройки аудита
Comment[sk]=Upraviť nastavenie programu audit
Comment[sr]=Измени конфигурацију провере
Comment[sr@latin]=Izmeni konfiguraciju provere
Comment[sv]=Redigera granskningskonfiguration
Comment[ta]=தணிக்கை கட்டமைப்பை மாற்று
Comment[te]=ఆ‍డిట్ ఆకృతీకరణను సవరించుము
Comment[zh_CN]=修改审查配置
Comment[zh_TW]=修改稽核配置
Terminal=false
Type=Application
Icon=/usr/share/app-install-data-postinstallerf/icons/generic.png
Categories=Settings;System;
