[Desktop Entry]
Exec=postinstaller -n bkchem
Version=1.0
Name=BKchem
Comment=Edit chemical structures and reactions
Type=Application
Icon=/usr/share/app-install-data-postinstallerf/icons/bkchem.png
Categories=Education;Science;Chemistry;
