[Desktop Entry]
Exec=postinstaller -n kbibtex
Name=KBibTeX
Name[de]=KBibTeX
Comment=KDE-based editor for bibliographic files
Comment[de]=KDE-basierter Editor für Bibliographiedateien
GenericName=BibTeX Editor
Icon=/usr/share/app-install-data-postinstallerf/icons/kbibtex.png
Type=Application
Terminal=false
Categories=Qt;KDE;Office;Database;Science;Literature;
