[Desktop Entry]
Exec=postinstaller -n sumo
Version=1.0
Name=Simulation of Urban MObility
GenericName=SUMO
Comment=Road traffic Simulator
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_pixmaps_sumo_32x32.png
Type=Application
Terminal=false
Categories=Education;Physics;Science;
