[Desktop Entry]
Exec=postinstaller -n therion
Version=1.0
Name=Therion
GenericName=Cave Survey Software
Comment=Draw up surveys in Therion format
Type=Application
Icon=/usr/share/app-install-data-postinstallerf/icons/therion.png
Categories=Education;Geology;Science;
