[Desktop Entry]
Exec=postinstaller -n tulip
Version=1.0
Name=Tulip
Comment=Data Visualization software
Icon=/usr/share/app-install-data-postinstallerf/icons/TulipIcon.png.png
Terminal=false
Type=Application
Categories=Education;Math;Science;Motif;
StartupNotify=false
