[Desktop Entry]
Exec=postinstaller -n viking
Version=1.0
Name=Viking
Name[cs]=Viking
Name[de]=Viking
Name[es]=Vikingo
Name[fr]=Viking
Name[hu]=Viking
Name[id]=Viking
Name[it]=Viking
Name[lt]=Viking
Name[nb]=Viking
Name[pl]=Viking
Name[pt_BR]=Viking
Name[ru]=Викинг
Name[sl]=Viking
Name[sv]=Viking
GenericName=GPS Data Manager
GenericName[cs]=Správce GPS dat
GenericName[de]=GPS-Daten-Manager
GenericName[es]=Administrador de datos GPS
GenericName[fr]=Gestionnaire de données GPS
GenericName[hu]=GPS adatkezelő
GenericName[id]=Pengelola Data GPS
GenericName[it]=Gestore dati GPS
GenericName[lt]=GPS duomenų vedlys
GenericName[pl]=Menedżer danych GPS
GenericName[pt_BR]=Gerenciador de dados GPS
GenericName[ru]=Менеджер данных GPS
Comment=Map Based GPS Data Manager (live data capable).
Comment[cs]=Správce GPS a mapových dat
Comment[de]=Kartenbasierter GPS Daten-Manager (Live-Daten fähig)
Comment[es]=Mapa basado en el administrador de datos GPS (Capacidad de datos en tiempo real)
Comment[fr]=Gestionnaire de données GPS basées sur des cartes (possibilité de données en direct)
Comment[hu]=Térképalapú GPS adatkezelő (élő adatátvitelre képes).
Comment[id]=Pengelola Data GPS Berbasis Peta (mampu menangani data live).
Comment[it]=Gestore dati GPS basato su mappa (dati in tempo reale).
Comment[lt]=Žemėlapiais paremtas GPS duomenų vedlys (duomenys realiu laiku).
Icon=/usr/share/app-install-data-postinstallerf/icons/viking.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Education;Science;Geography;GTK;
