[Desktop Entry]
Exec=postinstaller -n gemdropx
Version=1.0
Type=Application
Name=Gem Drop X
GenericName=gemdropx
Comment=Grab the gems and throw them back up before they crush you
Icon=/usr/share/app-install-data-postinstallerf/icons/gemdropx-icon.png
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
