[Desktop Entry]
Exec=postinstaller -n lincity-ng
Type=Application
Version=1.0
Name=Lincity-NG
GenericName=City Simulation Game
GenericName[de]=Stadtsimulationsspiel
Comment=Plan and Build a city and take care of transport, economics, electricityand others.
Icon=/usr/share/app-install-data-postinstallerf/icons/lincity-ng.png
Terminal=false
StartupNotify=false
Categories=Game;Simulation;
