[Desktop Entry]
Exec=postinstaller -n bangarang
Type=Application
Version=1.0
Name=Bangarang
GenericName=Media Player
GenericName[nl]=Mediaspeler
GenericName[de]=Medienwiedergabe
GenericName[fr]=Lecteur Multimédia
GenericName[zh_CN]=媒体播放器
GenericName[lt]=Media grotuvas
Icon=/usr/share/app-install-data-postinstallerf/icons/bangarang.png
Categories=Qt;KDE;AudioVideo;Player;
