[Desktop Entry]
Exec=postinstaller -n drumstick-tools
Name=Drumstick Virtual Piano
Icon=/usr/share/app-install-data-postinstallerf/icons/drumstick.png
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Midi;Education;Music;
Comment=Drumstick Virtual Piano
Comment[es]=Piano virtual de Drumstick  
