[Desktop Entry]
Exec=postinstaller -n espeak-gui
Type=Application
Name=eSpeak speech synthesizer
Name[ast]=Sintetizador de fala eSpeak
Name[bg]=Речев синтезатор eSpeak
Name[bn]=ইস্পিক সিনক্রোনাইজার
Name[ca]=Sintetitzador de veu eSpeak
Name[cs]=eSpeak systetizér mluvení
Name[da]=eSpeak talesynthesizer
Name[de]=eSpeak Sprachgenerator
Name[en_GB]=eSpeak speech synthesiser
Name[es]=Sintetizador de voz eSpeak
Name[fr]=Synthétiseur de parole eSpeak
Name[he]=סינתיסייזר הדיבור של eSpeak
Name[hu]=eSpeak beszédszintetizátor
Name[ja]=eSpeak スピーチ・シンセサイザ
Name[pl]=Syntezator mowy eSpeak
Name[ro]=Sintetizatorul de voce eSpeak
Name[ru]=Синтезатор речи eSpeak
Name[tr]=eSpeak söz sentezleyicisi
Name[uk]=Синтезатор мовлення eSpeak
GenericName=Speech synthesizer
GenericName[ast]=Sintetizador de fala
GenericName[bg]=Речев синтезатор
GenericName[bn]=সিনক্রোনাইজার
GenericName[ca]=Sintetitzador de veu
GenericName[cs]=Syntetizér mluvení
GenericName[da]=Stemmesynthesizer
GenericName[de]=Sprachgenerator
GenericName[en_GB]=Speech synthesiser
GenericName[es]=Sintetizador de voz
GenericName[fr]=Synthétiseur Vocal
GenericName[he]=סינתיסייזר דיבור
GenericName[hu]=Beszédszintetizátor
GenericName[ja]=スピーチ・シンセサイザ
GenericName[pl]=Syntezator mowy
GenericName[ro]=Sintetizator de voce
GenericName[ru]=Синтезатор речи
GenericName[uk]=Синтезатор мовлення
Comment=Let the computer read out text for you
Comment[ast]=Dexe que l ordenador llea testu por vusté
Comment[bg]=Нека компютърът ви прочете текста
Comment[bn]=কম্পিউটারকে লেখা পড়ে শোনানোর অনুমতি দিন
Comment[ca]=Deixeu que l ordinador llegeixi text per a vosaltres
Comment[da]=Lad computeren læse tekst op for dig
Comment[de]=Den Text vom Computer vorlesen lassen
Comment[en_GB]=Let the computer read out text for you
Comment[es]=Deje que la computadora lea texto por usted
Comment[fr]=Laissez l ordinateur donner lecture d un texte pour vous
Comment[he]=שהמחשב יקריא עבורך את הטקסט
Comment[hu]=Szövegfelolvastatás a számítógéppel
Comment[ja]=テキストをコンピュータに読み上げさせます
Comment[pl]=Pozwól komputerowi przeczytać dla ciebie tekst
Comment[ro]=Permiteți calculatorului să citească un text pentru dumneavoastră
Comment[ru]=Чтение текстов вслух компьютером
Comment[tr]=Bilgisayarın metni sizin için sesli okumasına izin verin
Comment[uk]=Нехай комп ютер читає тексти для вас
Icon=/usr/share/app-install-data-postinstallerf/icons/espeak-gui.png
Categories=GTK;AudioVideo;Audio;
