[Desktop Entry]
Exec=postinstaller -n extace
Name=Extace Waveform Display
Name[es]=Extace
Name[no]=Extace Bølgeformvisning
Name[fr]=Extace Waveform
Name[ko]=ÀÍ½ºÅ×ÀÌ½º
Name[pt]=Extace
Comment=Audio Waveform Monitor
Comment[es]=Visualización gráfica de ondas sonoras
Comment[no]=Lydbølgemonitor
Comment[fr]=Visualisation graphique d ondes sonores
Comment[ko]=¿Àµð¿À ¿þÀÌºê º¸±â
Comment[pt]=Visualização gráfica das ondas sonoras
Icon=/usr/share/app-install-data-postinstallerf/icons/extace.png.png
Terminal=0
Type=Application
