[Desktop Entry]
Exec=postinstaller -n fmit
Type=Application
Name=FMIT
GenericName=Musical Instrument Tuner
GenericName[de]=Stimmgerät für Musikinstrumente
GenericName[fr]=Accordeur d instrument de musique
Comment=Tune musical instruments
Comment[de]=Musikinstrumente stimmen
Comment[fr]=Accorde un instrument de musique
Icon=/usr/share/app-install-data-postinstallerf/icons/fmit.png
Terminal=false
Categories=Tuner;Audio;AudioVideo;Qt;
StartupNotify=true
