[Desktop Entry]
Exec=postinstaller -n glurp
Name=Glurp
Comment=A Client for the MPD daemon
Comment[fr]=Un Client pour le démon MPD
Comment[es]=Un Cliente del server MPD
Terminal=false
Type=Application
Icon=/usr/share/app-install-data-postinstallerf/icons/glurp.svg.png
Categories=GNOME;Application;AudioVideo;
StartupNotify=true
