[Desktop Entry]
Exec=postinstaller -n imagination
Type=Application
Version=1.0
Name=Imagination
Name[cs]=Imagination
Name[de]=Imagination
Name[en_GB]=Imagination
Name[fr]=Imagination
Name[it]=Imagination
Name[pt_BR]=Imagination
Name[sv]=Imagination
Name[zh_CN]=Imagination 想像
Name[zh_TW]=Imagination 想像
GenericName=A DVD slideshow maker
GenericName[cs]=Aplikace pro vytváření prezentací na disky DVD
GenericName[de]=Programm zum Erzeugen einer DVD-Diaschau
GenericName[en_GB]=A DVD slideshow maker
GenericName[fr]=Un programme de création de présentation DVD
GenericName[it]=Un software per creare sequenze di fotografie per DVD
GenericName[pt_BR]=Um criador de apresentações de slides em DVD
GenericName[sv]=En DVD-bildspelsskapare
GenericName[zh_CN]=一个DVD影片秀制作工具
GenericName[zh_TW]=一個DVD影片秀製作工具
Comment=A lightweight DVD slideshow maker using GTK+2
Comment[cs]=Odlehčená aplikace pro vytváření prezentací na disky DVD používající GTK+2
Comment[de]=Ein kleines und schnelles GTK-Programm zum Erzeugen einer DVD-Diaschau
Comment[en_GB]=A lightweight DVD slideshow maker using GTK+2
Comment[fr]=Un programme léger de création de présentation DVD qui utilise GTK+2
Comment[it]=Un software per creare presentazioni per DVD che utilizza GTK+2
Comment[pt_BR]=Um criador leve de apresentações de slides em DVD usando GTK+2
Comment[sv]=En resurssnål DVD-bildspelsskapare som använder GTK+2
Comment[zh_CN]=一个GTK+2介面下的简易DVD影片秀制作工具
Comment[zh_TW]=一個GTK+2介面下的簡易DVD影片秀製作工具
Icon=/usr/share/app-install-data-postinstallerf/icons/imagination.png
Terminal=false
Categories=AudioVideo;
StartupNotify=true
