[Desktop Entry]
Exec=postinstaller -n landell
Version=0.92.1
Name=Landell
Comment=Audio and video streams manager
Terminal=false
Type=Application
Icon=/usr/share/app-install-data-postinstallerf/icons/landell.png
Categories=AudioVideo;TV;
StartupNotify=false
