[Desktop Entry]
Exec=postinstaller -n ncmpcpp
Type=Application
Name=Ncmpcpp
GenericName=NCurses Music Player Client
Terminal=true
Categories=AudioVideo;Audio;Player;ConsoleOnly;
