[Desktop Entry]
Exec=postinstaller -n photofilmstrip
Version=1.9.0
Name=PhotoFilmStrip
GenericName=Slideshow Creator
Comment=Create animated slideshows
Icon=/usr/share/app-install-data-postinstallerf/icons/photofilmstrip.png
Terminal=false
Type=Application
StartupNotify=false
Categories=AudioVideo;
