[Desktop Entry]
Exec=postinstaller -n qnapi
Name=QNapi
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_icons_qnapi-48.png
Type=Application
Categories=AudioVideo;
Comment=A program to download subtitles for movies
GenericName=A program to download subtitles for movies
Comment[pl]=Program do pobierania napisów do filmów
GenericName[pl]=Program do pobierania napisów do filmów
Terminal=false
