[Desktop Entry]
Exec=postinstaller -n swami
Name=Swami Instrument Editor
Name[ru]=Редактор сэмплов Swami
GenericName=Instrument Editor
GenericName[ru]=Редактор сэмплов 
Comment=Create, play and organize MIDI instruments and sounds
Comment[ru]=Создание, воспроизведение и организация звуковых сэмплов
Icon=/usr/share/app-install-data-postinstallerf/icons/swami.png
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;Application;AudioVideo;Audio;Midi;Music;
