[Desktop Entry]
Exec=postinstaller -n tuxguitar
Version=1.0
Name=tuxguitar
Comment=Edit, playback guitar tablatures
Comment[fr]=Edite, joue des tablatures de guitare
Comment[es]=Edita, reproduce tablaturas de guitarra
Icon=/usr/share/app-install-data-postinstallerf/icons/tuxguitar.png
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
#eof "$Id: tuxguitar.desktop,v 1.2 2008/03/22 23:32:25 rzr Exp $"
