[Desktop Entry]
Exec=postinstaller -n xine-ui
Name=xine
Comment=Video Player
Icon=/usr/share/app-install-data-postinstallerf/icons/xine.png
Terminal=false
Type=Application
Categories=Application;AudioVideo;Player;
