[Desktop Entry]
Exec=postinstaller -n armagetronad
Type=Application
Name=Armagetron Advanced
Comment=3d light cycle game
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_pixmaps_armagetronad_icons_large_armagetronad.png
Terminal=false
Categories=Game;ActionGame;
StartupNotify=false
