[Desktop Entry]
Exec=postinstaller -n circuslinux
Version=1.0
Type=Application
Name=Circus Linux!
GenericName=Circus Linux
Comment=Throw the clowns before they fall and hit the balloons with them
Comment[ca]=Llança els pallassos abans de que caiguin i peta els globus amb ells
Comment[de]=Werfe die Clowns bevor sie fallen und treffe die Ballone mit ihnen
Icon=/usr/share/app-install-data-postinstallerf/icons/circuslinux-icon.xpm.png
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
