[Desktop Entry]
Exec=postinstaller -n sgt-puzzles
Version=1.0
Terminal=false
Icon=/usr/share/app-install-data-postinstallerf/icons/cube.png
Type=Application
Categories=Game;LogicGame;
Name=Cube
Comment=Get all six blue squares on to the six faces of the cube at the same time
Comment[fr]=Essayer d obtenir simultanément six carrés bleus sur les six faces du cube
Comment[de]=Bekomme alle sechs blauen Quadrate gleichzeitig auf die sechs Seiten des Würfels
