[Desktop Entry]
Exec=postinstaller -n cuyo
Name=Cuyo
Icon=/usr/share/app-install-data-postinstallerf/icons/cuyo.png
Type=Application
Terminal=false
Categories=Game;BlocksGame;
Comment=Play a tetris like game with many levels
Comment[de]=Ein Tetris-artiges Spiel mit vielen Leveln spielen
GenericName=Tetris like game
