[Desktop Entry]
Exec=postinstaller -n sgt-puzzles
Version=1.0
Terminal=false
Icon=/usr/share/app-install-data-postinstallerf/icons/dominosa.png
Type=Application
Categories=Game;LogicGame;
Name=Dominosa
Comment=Reconstruct the pattern by arranging the set of dominoes to match the provided array of numbers
Comment[fr]=Essayer de réobtenir le modèle de base en arrangeant les dominos présents
Comment[de]=Stelle das Musters durch Anordnung von Dominos zur Übereinstimmung mit einem vorgegebenen Zahlengitter wieder her
