[Desktop Entry]
Exec=postinstaller -n freecraft
Name=FreeCraft
GenericName=freecraft
Comment=The War begins
Type=Application
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_pixmaps_freecraft-icon.png
Terminal=false
Categories=Game;StrategyGame;
