[Desktop Entry]
Exec=postinstaller -n gnome-breakout
Name=GNOME Breakout
Name[tr]=Gnome Breakout
Name[de]=GNOME Breakout
Comment=Play a clone of the classic arcade game Breakout for GNOME
Comment[tr]=Breakout klasiðinin Gnome teþkili
Comment[de]=Das klassische Arcade Spiel Breakout für GNOME
Icon=/usr/share/app-install-data-postinstallerf/icons/gnome-breakout.png.png
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
