[Desktop Entry]
Exec=postinstaller -n gnomekiss
Name=GnomeKiSS
Name[es]=GnomeKiSS
Comment=Gnome s KiSSeake dolls viewer
Comment[es]=EL visor de muñecas KiSSeake de Gnome
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_pixmaps_gnomekiss_gnome-kiss.png
Terminal=false
Type=Application
Categories=Game;
