[Desktop Entry]
Exec=postinstaller -n holotz-castle
Type=Application
Name=Holotz Castle
GenericName=holotz-castle
Comment=Play an exciting mystery game
Comment[es]=Juega a un excitante juego de misterio
Comment[ro_RO]=Jucați un joc misterios și antrenant 
Icon=/usr/share/app-install-data-postinstallerf/icons/holotz-castle.png
Terminal=false
Categories=Game;ArcadeGame;
