[Desktop Entry]
Exec=postinstaller -n lincity
Version=1.13.1
Type=Application
Name=Lincity
GenericName=Lincity
Comment=City simulation game
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_pixmaps_lincity.png
Terminal=false
Categories=Application;Game;StrategyGame
