[Desktop Entry]
Exec=postinstaller -n micropolis
Version=1.0
Type=Application
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_icons_Micropolis.png
Terminal=false
Name=Micropolis
Comment=A real-time city management simulator
Comment[de_DE]=Eine Stadt-Simulation in Echtzeit
Categories=Game;Simulation;
StartupNotify=true
