[Desktop Entry]
Exec=postinstaller -n sgt-puzzles
Version=1.0
Terminal=false
Icon=/usr/share/app-install-data-postinstallerf/icons/pearl.png
Type=Application
Categories=Game;LogicGame;
Name=Pearl
Comment=Game based on Masyu
Comment[de]=Auf Masyu basierendes Spiel
