[Desktop Entry]
Exec=postinstaller -n raincat
Type=Application
Name=Raincat
GenericName=Logic Game
GenericName[es]=Juego de lógica
Comment=2D puzzle game featuring a fuzzy little cat
Comment[es]=Rompecabezas en 2D protagonizado por un lindo gatito
Icon=/usr/share/app-install-data-postinstallerf/icons/raincat.png
Terminal=false
Categories=Game;KidsGame;
