[Desktop Entry]
Exec=postinstaller -n sgt-puzzles
Version=1.0
Terminal=false
Icon=/usr/share/app-install-data-postinstallerf/icons/rect.png
Type=Application
Categories=Game;LogicGame;
Name=Rectangles
Comment=Subdivide the grid into rectangles of various sizes following certain rules
Comment[fr]=Diviser la grille de jeu en rectangles de tailles variables en suivant certaines règles
Comment[de]=Unterteile das Gitter gemäß bestimmter Regeln in Rechtecke verschiedener Größe
