[Desktop Entry]
Exec=postinstaller -n slashem-sdl
Type=Application
Name=SDL Slash EM
GenericName=SDL Slash EM
Comment=Super Lotsa Added Stuff Hack - Extended Magic (SDL)
Icon=/usr/share/app-install-data-postinstallerf/icons/slashem.png
Terminal=false
Categories=Game;AdventureGame;
