[Desktop Entry]
Exec=postinstaller -n spacezero
Name=Spacezero
Name[en_GB]=Spacezero
Name[es]=Spacezero
Comment=Real Time Strategy 2D space combat multiplayer net game.
Comment[en_GB]=Real Time Strategy 2D space combat multiplayer net game.
Comment[es]=Juego de estrategia 2D en tiempo real multijugador.
Categories=Game;StrategyGame;
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_pixmaps_icon_spacezero.png
Terminal=false
Type=Application
Version=1.0
