[Desktop Entry]
Exec=postinstaller -n trigger-rally
Name=Trigger
GenericName=Trigger
Icon=/usr/share/app-install-data-postinstallerf/icons/trigger-rally.png
Comment=3D rally racing car game
Comment[de_DE]=3D Rally-Autorennen
Comment[fr_FR]=un jeu de rally en 3D
Comment[ro_RO]=Un joc în 3D cu curse de raliu
Terminal=false
StartupNotify=false
Type=Application
Categories=Game;ActionGame;
