[Desktop Entry]
Exec=postinstaller -n wesnoth-1.10-core
Version=1.0
Type=Application
Name=Battle for Wesnoth Map Editor (1.10)
Name[cs]=Editor map Bitvy o Wesnoth (1.10)
Name[de]=Battle for Wesnoth Karteneditor (1.10)
Name[es]=Editor de mapas de Wesnoth (1.10)
Name[fi]=Taistelu Wesnothista Kenttäeditori (1.10)
Name[fr]=Éditeur de cartes Wesnoth (1.10)
Name[gl]=Editor do Wesnoth (1.10)
Name[hu]=Harc Wesnothért pályaszerkesztő (1.10)
Name[it]=Editor delle mappe per Battle for Wesnoth (1.10)
Name[lt]=Mūšio dėl Vesnoto žemėlapių redaktorius (1.10)
Name[sr]=Уређивач мапа Боја за Веснот (1.10)
Name[sr@ijekavian]=Уређивач мапа Боја за Веснот (1.10)
Name[sr@ijekavianlatin]=Uređivač mapa Boja za Vesnot (1.10)
Name[sr@latin]=Uređivač mapa Boja za Vesnot (1.10)
Name[tr]=Wesnoth Savaşı Harita Düzenleyici (1.10)
GenericName=Map Editor
GenericName[cs]=Editor map
GenericName[de]=Karteneditor
GenericName[es]=Editor de mapas
GenericName[fi]=Kenttäeditori
GenericName[fr]=Éditeur de cartes
GenericName[gl]=Editor de mapas
GenericName[hu]=Pályaszerkesztő
GenericName[it]=Editor delle mappe
GenericName[lt]=Žemėlapių redaktorius
GenericName[sr]=Уређивач мапа
GenericName[sr@latin]=Uređivač mapa
GenericName[tr]=Harita Düzenleyici
Comment=A map editor for Battle for Wesnoth maps
Comment[cs]=Editor map pro Bitvu o Wesnoth
Comment[de]=Ein Karteneditor für Battle for Wesnoth
Comment[es]=Un editor de mapas para: La batalla por Wesnoth
Comment[fi]=Kenttäeditori Wesnothin kenttiä varten
Comment[fr]=Un éditeur de cartes pour La Bataille pour Wesnoth
Comment[gl]=Editor de mapas de A batalla por Wesnoth.
Comment[hu]=A Harc Wesnothért játék pályaszerkesztője
Comment[it]=Un tool per creare e modificare mappe di Battle for Wesnoth
Comment[lt]=Žemėlapių redaktorius Mūšio dėl Vesnoto žemėlapiams
Comment[sr]=Уређивач за мапе намењене Боју за Веснот
Comment[sr@latin]=Uređivač za mape namenjene Boju za Vesnot
Comment[tr]=Wesnoth savaşı haritaları için harita düzenleyici
Icon=/usr/share/app-install-data-postinstallerf/icons/wesnoth-1.10_editor-icon.png
Categories=Game;StrategyGame;
