[Desktop Entry]
Exec=postinstaller -n xpuzzles
Name=xdino
GenericName=dino game
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_pixmaps_xdino.m.png
Terminal=false
Type=Application
Categories=Game;
