[Desktop Entry]
Exec=postinstaller -n xpuzzles
Name=xmball
GenericName=mball game
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_pixmaps_xmball.m.png
Terminal=false
Type=Application
Categories=Game;
