[Desktop Entry]
Exec=postinstaller -n xscavenger
Version=1.0
Name=XScavenger
Comment=X11 clone of Lode Runner
Icon=/usr/share/app-install-data-postinstallerf/icons/xscavenger-icon.png
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
StartupNotify=true
