[Desktop Entry]
Exec=postinstaller -n gtranslator
Name=Gtranslator
Name[ar]=مترجم‌ج
Name[be]=Gtranslator
Name[ca]=Gtranslator
Name[ca@valencia]=Gtranslator
Name[cs]=Gtranslator
Name[da]=Gtranslator
Name[de]=Gtranslator
Name[el]=Gtranslator
Name[en_GB]=Gtranslator
Name[eo]=Gtranslator
Name[es]=Gtranslator
Name[et]=Gtranslator
Name[eu]=Gtranslator
Name[fi]=Gtranslator
Name[fr]=Gtranslator
Name[gl]=Gtranslator
Name[he]=Gtranslator
Name[id]=Gtranslator
Name[it]=Gtranslator
Name[ja]=Gtranslator
Name[lt]=Gtranslator
Name[nb]=Gtranslator
Name[nds]=Gtranslator
Name[nn]=Gtranslator
Name[pl]=gtranslator
Name[pt]=Gtranslator
Name[pt_BR]=Gtranslator
Name[ru]=Gtranslator
Name[sk]=Gtranslator
Name[sl]=Gtranslator
Name[sr]=Гномов преводилац
Name[sr@latin]=Gnomov prevodilac
Name[sv]=Gtranslator
Name[te]=జిట్రాన్స్‍లేటర్
Name[th]=Gtranslator
Name[tr]=Gtranslator
Name[uk]=Gtranslator
Name[zh_CN]=Gtranslator
Name[zh_HK]=Gtranslator
Name[zh_TW]=Gtranslator
GenericName=PO File Editor
GenericName[be]=Рэдактар PO-файлаў
GenericName[cs]=Editor souborů PO
GenericName[da]=PO-filredigering
GenericName[de]=Editor für PO-Dateien
GenericName[eo]=Redaktilo por PO-dosieroj
GenericName[es]=Editor de archivos PO
GenericName[et]=PO-failide redaktor
GenericName[fi]=PO-tiedostojen muokkain
GenericName[fr]=Éditeur de fichiers PO
GenericName[gl]=Editor de ficheiros PO
GenericName[he]=עורך קובצי PO
GenericName[id]=Penyunting Berkas PO
GenericName[it]=Editor file PO
GenericName[lt]=PO failų redaktorius
GenericName[nb]=Redigering av PO-filer
GenericName[nn]=PO-fil-skriveprogram
GenericName[pl]=Edytor plików PO
GenericName[sl]=Urejevanje datotek .po
GenericName[sr]=Уређивач ПО датотека
GenericName[sr@latin]=Uređivač PO datoteka
GenericName[te]=PO ఫైల్ కూర్పకం
GenericName[tr]=PO Dosyası Düzenleyici
Comment=Translate and localize applications and libraries
Comment[ar]=ترجم التطبيقات والمكتبات
Comment[be]=Пераклад i лакалiзацыя праграм і бібліятэк
Comment[ca]=Traduïu i localitzeu aplicacions i biblioteques
Comment[ca@valencia]=Traduïu i localitzeu aplicacions i biblioteques
Comment[cs]=Překládání a lokalizace aplikací a knihoven
Comment[da]=Oversæt og sprogtilpas programmer og biblioteker
Comment[de]=Anwendungen und Bibliotheken übersetzen und an lokale Gegebenheiten anpassen
Comment[el]=Μεταφράστε και τοπικοποιήστε εφαρμογές και βιβλιοθήκες
Comment[en_GB]=Translate and localise applications and libraries
Comment[eo]=Traduki kaj allokigi aplikaĵojn kaj bibliotekojn
Comment[es]=Traduzca y localice aplicaciones y bibliotecas
Comment[et]=Rakenduste ning teekide tõlkimine ja lokaliseerimine
Comment[eu]=Itzuli eta lokalizatu aplikazio eta liburutegiak
Comment[fi]=Käännä ja kotoista ohjelmia sekä kirjastoja
Comment[fr]=Traduit et localise des programmes et des bibliothèques
Comment[ga]=Aistrigh agus logánaigh feidhmchláir agus leabharlanna
Comment[gl]=Traduza e localice aplicativos e bibliotecas
Comment[he]=תרגום והתאמה מקומית של יישומים וספריות
Comment[id]=Terjemahkan dan lokalisasikan aplikasi dan pustaka
Comment[it]=Strumento per tradurre e localizzare applicazioni e librerie
Comment[ja]=アプリケーションやライブラリのメッセージを翻訳します
Comment[lt]=Verskite ir lokalizuokite programas ir bibliotekas
Comment[nb]=Oversett og lokaliser programmer og biblioteker
Comment[nds]=Översett un lokaliser Programme un Bökerien
Comment[nn]=Set om og tilpassar program og bibliotek
Comment[pl]=Tłumaczenie i lokalizowanie programów oraz bibliotek
Comment[pt]=Traduzir e localizar aplicações e bibliotecas
Comment[pt_BR]=Traduza e localize aplicativos e bibliotecas
Comment[ru]=Перевод и локализация файлов и приложений
Comment[sk]=Prekladá a lokalizuje aplikácie a knižnice
Comment[sl]=Prevajanje in jezikovno prilagajanje vmesnikov programov in knjižnic.
Comment[sr]=Преводите и локализујте програме и библиотеке
Comment[sr@latin]=Prevodite i lokalizujte programe i biblioteke
Comment[sv]=Översätt och lokalanpassa program och bibliotek
Comment[te]=అనువర్తనాలను మరియు లైబ్రరీలను అనువదించు, స్థానీకరించు
Comment[th]=แปลและปรับโปรแกรมและไลบรารีให้เหมาะกับผู้ใช้ในท้องถิ่น
Comment[tr]=Uygulamaları ve kütüphaneleri çevirin ve yerelleştirin
Comment[uk]=Переклад та локалізація програм та бібліотек
Comment[zh_CN]=对应用程序和库进行翻译和本地化
Comment[zh_HK]=進行應用程式與函式庫的翻譯與本地化
Comment[zh_TW]=進行應用程式與函式庫的翻譯與本地化
Icon=/usr/share/app-install-data-postinstallerf/icons/gtranslator.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Development;Translation;
