[Desktop Entry]
Exec=postinstaller -n kdesrc-build
Name=KDE Source Builder
Icon=/usr/share/app-install-data-postinstallerf/icons/generic.png
Terminal=false
Type=Application
Categories=Development;Translation;
StartupNotify=true
