[Desktop Entry]
Exec=postinstaller -n gftp-gtk
Name=gFTP
Comment=Download and upload files using multiple file transfer protocols
Comment[fr]=Télécharge des fichiers en utilisant le protocole FTP
GenericName=gFTP
Terminal=false
Type=Application
Icon=/usr/share/app-install-data-postinstallerf/icons/gftp.png
Categories=Application;Network;
