[Desktop Entry]
Exec=postinstaller -n aqsis
Version=1.0
Type=Application
Name=Aqsis Shader Compiler
GenericName=RenderMan Shader Compiler
Comment=Compile RenderMan Shading Language (RSL) files
Icon=/usr/share/app-install-data-postinstallerf/icons/aqsis.png
Terminal=true
Categories=Graphics;3DGraphics;ConsoleOnly;
