[Desktop Entry]
Exec=postinstaller -n djvusmooth
Version=1.0
Type=Application
Name=Djvusmooth
GenericName=Graphical editor for DjVu
GenericName[pl]=Graficzny edytor plików DjVu
GenericName[de]=Grafischer Metadaten-Editor für DjVu-Dateien
Terminal=false
Categories=Graphics;
Icon=/usr/share/app-install-data-postinstallerf/icons/djvusmooth.png
