[Desktop Entry]
Exec=postinstaller -n font-manager
Version=1.0
Name=Font Manager
Name[en_US]=Font Manager
Comment=Preview, compare and manage fonts
Type=Application
Terminal=false
StartupNotify=false
Icon=/usr/share/app-install-data-postinstallerf/icons/preferences-desktop-font.png
Categories=Graphics;Viewer;GNOME;GTK;Publishing;
