[Desktop Entry]
Exec=postinstaller -n gthumb
Name=gThumb
Name[am]=gThumb
Name[az]=gThumb
Name[be]=gThumb
Name[bg]=gThumb
Name[ca]=gThumb
Name[ca@valencia]=gThumb
Name[cs]=gThumb
Name[da]=gThumb
Name[de]=gThumb
Name[dz]=ཇི་ཐམཔ།
Name[el]=gThumb
Name[en_CA]=gThumb
Name[en_GB]=gThumb
Name[eo]=gThumb
Name[es]=gThumb
Name[et]=gThumb
Name[eu]=gThumb
Name[fa]=gThumb
Name[fi]=gThumb
Name[fr]=gThumb
Name[gl]=gThumb
Name[gu]=જીથમ્બ
Name[he]=gThumb
Name[hr]=gThumb
Name[hu]=gThumb
Name[id]=gThumb
Name[it]=gThumb
Name[ja]=gThumb
Name[kn]=gThumb
Name[ko]=gThumb
Name[lt]=gThumb
Name[lv]=gThumb
Name[mk]=gThumb
Name[ms]=gThumb
Name[nb]=gThumb
Name[nds]=gThumb
Name[ne]=जीथम्ब
Name[nl]=gThumb
Name[oc]=gThumb
Name[pa]=ਜੀ-ਥੰਮ
Name[pl]=gThumb
Name[ps]=gThumb
Name[pt]=gThumb
Name[pt_BR]=gThumb
Name[ro]=gThumb
Name[ru]=gThumb
Name[sk]=gThumb
Name[sl]=gThumb
Name[sr]=gThumb
Name[sr@Latn]=gThumb
Name[sv]=gThumb
Name[th]=gThumb
Name[tr]=gThumb
Name[uk]=gThumb
Name[vi]=gThumb
Name[xh]=i-gThumb
Name[zh_CN]=gThumb
Name[zh_HK]=gThumb
Name[zh_TW]=gThumb
GenericName=Image Viewer
GenericName[ar]=عارض الصّور
GenericName[ca]=Visualitzador d imatges
GenericName[ca@valencia]=Visualitzador d imatges
GenericName[cs]=Prohlížeč obrázků
GenericName[da]=Billedfremviser
GenericName[de]=gThumb Bildbetrachter
GenericName[dz]=གཟུགས་བརྙན་མཐོང་བྱེད།
GenericName[el]=Εφαρμογή προβολής εικόνων
GenericName[en_CA]=Image Viewer
GenericName[en_GB]=Image Viewer
GenericName[eo]=Bildomontrilo
GenericName[es]=Visor de imágenes
GenericName[et]=Pildinäitaja
GenericName[eu]=Irudi ikustailea
GenericName[fi]=Kuvakatselin
GenericName[fr]=Visionneur d image
GenericName[gl]=Visor de imaxes
GenericName[gu]=ઈમેજ દર્શક
GenericName[he]=מציג תמונות
GenericName[hu]=Képmegjelenítő
GenericName[id]=Penampil Gambar
GenericName[it]=Visualizzatore immagini
GenericName[ja]=画像ビューアー
GenericName[kn]=ಚಿತ್ರ ನೋಡುಗ
GenericName[lt]=Paveikslėlių peržiūros programa
GenericName[lv]=Attēlu skatītājs
GenericName[mk]=Прегледувач на слики
GenericName[nb]=Bildeviser
GenericName[nds]=Billopwieser
GenericName[ne]=छवि दर्शक
GenericName[nl]=Afbeeldingsweergave
GenericName[pa]=ਚਿੱਤਰ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka obrazów
GenericName[ps]=انځور ليدونی
GenericName[pt]=Visualizador de Imagens
GenericName[pt_BR]=Visualizador de Imagens
GenericName[ro]=Vizualizator imagini
GenericName[ru]=Просмотр изображений gThumb
GenericName[sk]=Prehliadač obrázkov
GenericName[sl]=Pregledovalnik slik
GenericName[sv]=Bildvisare
GenericName[th]=โปรแกรมดูภาพ
GenericName[uk]=Перегляд зображень
GenericName[vi]=Bộ xem ảnh
GenericName[zh_CN]=图像浏览器
GenericName[zh_HK]=圖片檢視工具
GenericName[zh_TW]=圖片檢視工具
Comment=View and organize your images
Comment[az]=Rəsmlərinizi nümayiş və idarə edin
Comment[be]=Дазваляе праглядаць і ўтвараць зборы відарысаў
Comment[bg]=Преглед и организиране на вашите изображения
Comment[ca]=Visualitzeu i organitzeu les vostres imatges
Comment[ca@valencia]=Visualitzeu i organitzeu les vostres imatges
Comment[cs]=Prohlížejte a organizujte své obrázky
Comment[da]=Vis og organiser dine billeder
Comment[de]=Ihre Bilder betrachten und katalogisieren
Comment[dz]=ཁྱོད་རའི་གཟུགས་བརྙན་ཚུ་ སྟོན་བཞིནམ་ལས་  འགོ་འདྲེན་འཐབ།
Comment[el]=Προβάλλετε και οργανώστε τις εικόνες σας
Comment[en_CA]=View and organize your images
Comment[en_GB]=View and organise your images
Comment[es]=Muestre y organice sus imágenes
Comment[et]=Vaata ja korrasta oma pilte
Comment[eu]=Ikusi eta antolatu zure irudiak
Comment[fa]=تصاویر خود را ببنینید و سازمان‌دهی کنید
Comment[fi]=Katsele ja järjestä kuviasi
Comment[fr]=Afficher et organiser vos images
Comment[gl]=Ver e organizar as túas imaxes
Comment[gu]=તમારી ઈમેજો જુઓ અને આયોજિત કરો
Comment[he]=צפייה וארגון התמונות שלכם
Comment[hr]=Prikazujte i organizirajte vaše slike
Comment[hu]=Képek megtekintése és rendszerezése
Comment[id]=Tampilkan dan atur gambar-gambar Anda
Comment[it]=Visualizza e organizza le proprie immagini
Comment[ja]=画像を表示し管理するツールです
Comment[kn]=ನಿಮ್ಮ ಚಿತ್ರಗಳನ್ನು ನೋಡಿ ಹಾಗು ಜೋಡಿಸಿ
Comment[ko]=그림을 보고 관리도 하세요
Comment[lt]=Peržiūrėti ir tvarkyti paveikslėlius
Comment[lv]=Skatīt un organizēt savus attēlus
Comment[mk]=Гледајте ги и организирајте ги Вашите слики
Comment[ms]=Lihat dan pelihara imej anda
Comment[nb]=Vis og organiser dine bilder
Comment[ne]=तपाईँको छविहरू हेर्नुहोस् र संगठित गर्नुहोस्
Comment[nl]=Uw afbeeldingen weergeven en beheren
Comment[pa]=ਆਪਣੇ ਚਿੱਤਰ ਵੇਖੋ ਤੇ ਇਹਨਾਂ ਦੀ ਸੰਭਾਲ ਕਰੋ
Comment[pl]=Wyświetlanie i organizacja obrazów
Comment[ps]=خپل انځورونه وګورﺉ او سم يې کړﺉ
Comment[pt]=Ver e organizar as suas imagens
Comment[pt_BR]=Veja e organize as suas imagens
Comment[ro]=Vizualizează și organizează imagini
Comment[ru]=Просмотр изображений и ведение альбомов
Comment[sk]=Pozerajte a organizujte svoje obrázky
Comment[sl]=Oglejte in uredite svoje slike
Comment[sq]=Shfaq dhe organizon imazhet tuaja
Comment[sr]=Погледај и организуј своје слике
Comment[sr@Latn]=Pogledaj i organizuj svoje slike
Comment[sv]=Visa och organisera dina bilder
Comment[th]=ดูและจัดการรูปภาพ
Comment[tr]=Resimleri düzenle ve göster
Comment[uk]=Перегляд зображень та ведення альбомів
Comment[vi]=Xem và tổ chức các ảnh của bạn
Comment[xh]=Buka uze ulungise imifanekiso yakho
Comment[zh_CN]=查看及管理图像
Comment[zh_HK]=檢視和組織你的圖片
Comment[zh_TW]=檢視和組織您的圖片
Categories=GNOME;GTK;Graphics;Viewer;RasterGraphics;2DGraphics;Photography;
Icon=/usr/share/app-install-data-postinstallerf/icons/gthumb.png
StartupNotify=true
Terminal=false
Type=Application
