[Desktop Entry]
Exec=postinstaller -n mcomix
Version=1.0
Name=MComix
Name[it]=MComix
GenericName=Comic Book Viewer
GenericName[sv]=Serieboksläsare
GenericName[fr]=Visionneur de bandes dessinées
GenericName[de]=Comic-Betrachter
Comment=A viewer for comic book archives
Comment[it]=Un visualizzatore di fumetti 
Comment[es]=Un visor de comics
Comment[sv]=En serieboksläsare
Comment[fr]=Visionneur d images spécialisé dans la lecture des bandes dessinées
Comment[pl]=Przeglądarka komiksów
Comment[de]=Betrachter für Comic-Archive
Icon=/usr/share/app-install-data-postinstallerf/icons/mcomix.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;Viewer;
