[Desktop Entry]
Exec=postinstaller -n ngraph-gtk
Name=Ngraph
Comment=create scientific 2-dimensional graphs
Comment[ja]=科学技術用 2D グラフ作成
Icon=/usr/share/app-install-data-postinstallerf/icons/application-x-ngraph.png.png
Terminal=false
Type=Application
Version=1.0
Categories=GTK;GNOME;Graphics;
