[Desktop Entry]
Exec=postinstaller -n phatch
Version=1.0
Icon=/usr/share/app-install-data-postinstallerf/icons/phatch-inspector.png
Terminal=false
Type=Application
Categories=Graphics;Photography;GTK;
StartupNotify=true
Name=Phatch Image Inspector
GenericName=Image Inspector
Comment=Easily inspect EXIF and IPTC metadata
