[Desktop Entry]
Exec=postinstaller -n rawtherapee
Version=1.0
Type=Application
Name=RawTherapee
GenericName=RAW image editor
GenericName[cs]=Editor RAW obrázků
GenericName[fr]=Éditeur d images RAW
Comment=The RAW converter and digital photo processing software. 
Comment[cs]=Program pro konverzi a zpracování digitálních RAW fotografií.
Comment[fr]=Logiciel de conversion et de traitement de photos numériques de format RAW (but de capteur).
Icon=/usr/share/app-install-data-postinstallerf/icons/rawtherapee.png
Terminal=false
Categories=Graphics;Photography;GTK;
