[Desktop Entry]
Exec=postinstaller -n rgbpaint
Version=1.0
Name=rgbPaint painting program
Name[sv]=Rgbpaint, ett ritprogram
GenericName=Painting program
Comment=Simple painting program for pixel art
Comment[sv]=Enkelt ritprogram för bildpunktsgrafik
Type=Application
Icon=/usr/share/app-install-data-postinstallerf/icons/rgbpaint.png
Categories=Graphics;RasterGraphics;
