[Desktop Entry]
Exec=postinstaller -n shotwell
Version=1.0
Name=Shotwell
GenericName=Photo Manager
Comment=Organize your photos
Icon=/usr/share/app-install-data-postinstallerf/icons/shotwell.png
Terminal=false
Type=Application
Categories=Graphics;Photography;GNOME;GTK;
GenericName[ia]=Photo Manager
Comment[ia]=Organize your photos
GenericName[hi]=Photo Manager
Comment[hi]=Organize your photos
GenericName[ta_IN]=Photo Manager
Comment[ta_IN]=Organize your photos
GenericName[te_IN]=Photo Manager
Comment[te_IN]=Organize your photos
GenericName[fr]=Photo Manager
Comment[fr]=Organize your photos
GenericName[de]=Photo Manager
Comment[de]=Organize your photos
GenericName[it]=Photo Manager
Comment[it]=Organize your photos
GenericName[es]=Photo Manager
Comment[es]=Organize your photos
GenericName[pl]=Photo Manager
Comment[pl]=Organize your photos
GenericName[et]=Photo Manager
Comment[et]=Organize your photos
GenericName[sv]=Photo Manager
Comment[sv]=Organize your photos
GenericName[sk]=Photo Manager
Comment[sk]=Organize your photos
GenericName[lv]=Photo Manager
Comment[lv]=Organize your photos
GenericName[pt]=Photo Manager
Comment[pt]=Organize your photos
GenericName[bg]=Photo Manager
Comment[bg]=Organize your photos
GenericName[bn]=Photo Manager
Comment[bn]=Organize your photos
GenericName[nl]=Photo Manager
Comment[nl]=Organize your photos
GenericName[da]=Photo Manager
Comment[da]=Organize your photos
GenericName[zh_CN]=Photo Manager
Comment[zh_CN]=Organize your photos
GenericName[el]=Photo Manager
Comment[el]=Organize your photos
GenericName[ru]=Photo Manager
Comment[ru]=Organize your photos
GenericName[pa]=Photo Manager
Comment[pa]=Organize your photos
GenericName[hu]=Photo Manager
Comment[hu]=Organize your photos
GenericName[en_GB]=Photo Manager
Comment[en_GB]=Organize your photos
GenericName[uk]=Photo Manager
Comment[uk]=Organize your photos
GenericName[ja]=Photo Manager
Comment[ja]=Organize your photos
GenericName[fi]=Photo Manager
Comment[fi]=Organize your photos
GenericName[zh_TW]=Photo Manager
Comment[zh_TW]=Organize your photos
GenericName[cs]=Photo Manager
Comment[cs]=Organize your photos
GenericName[nb]=Photo Manager
Comment[nb]=Organize your photos
GenericName[id]=Photo Manager
Comment[id]=Organize your photos
GenericName[th]=Photo Manager
Comment[th]=Organize your photos
GenericName[sl]=Photo Manager
Comment[sl]=Organize your photos
GenericName[hr]=Photo Manager
Comment[hr]=Organize your photos
GenericName[ar]=Photo Manager
Comment[ar]=Organize your photos
GenericName[ast]=Photo Manager
Comment[ast]=Organize your photos
GenericName[ro]=Photo Manager
Comment[ro]=Organize your photos
GenericName[sr]=Photo Manager
Comment[sr]=Organize your photos
GenericName[lt]=Photo Manager
Comment[lt]=Organize your photos
GenericName[gl]=Photo Manager
Comment[gl]=Organize your photos
GenericName[tr]=Photo Manager
Comment[tr]=Organize your photos
GenericName[ca]=Photo Manager
Comment[ca]=Organize your photos
GenericName[ko]=Photo Manager
Comment[ko]=Organize your photos
GenericName[kk]=Photo Manager
Comment[kk]=Organize your photos
GenericName[pt_BR]=Photo Manager
Comment[pt_BR]=Organize your photos
GenericName[eu]=Photo Manager
Comment[eu]=Organize your photos
GenericName[he]=Photo Manager
Comment[he]=Organize your photos
GenericName[mk]=Photo Manager
Comment[mk]=Organize your photos
GenericName[te]=Photo Manager
Comment[te]=Organize your photos
GenericName[ta]=Photo Manager
Comment[ta]=Organize your photos
GenericName[vi]=Photo Manager
Comment[vi]=Organize your photos
