[Desktop Entry]
Exec=postinstaller -n bookletimposer
Version=0.2
Name=bookletimposer
Comment=Impose PDF documents to create booklets
Comment[fr]=Imposer des documents PDF pour créer des brochures
Type=Application
Icon=/usr/share/app-install-data-postinstallerf/icons/bookletimposer.png
Categories=Office;
Terminal=false
StartupNotify=false
