[Desktop Entry]
Exec=postinstaller -n dictionaryreader.app
Name=Dictionary Reader
Name[bg]=Речник (Dictionary Reader)
Comment=A Dict client for GNUstep
Comment[bg]=Речник за GNUstep 
Type=Application
Version=1.0
Categories=Office;TextTools;Dictionary;
Icon=/usr/share/app-install-data-postinstallerf/icons//usr/lib/GNUstep/Applications/DictionaryReader.app/Resources/dict.png.png
