[Desktop Entry]
Exec=postinstaller -n epdfview
Categories=Viewer;Office;GTK;
Comment=Lightweight PDF document viewer
Comment[ca]=Visor de documents PDF lleuger
Comment[es]=Visor de documentos PDF ligero
GenericName=PDF Viewer
GenericName[ca]=Visor PDF
GenericName[es]=Visor PDF
Icon=/usr/share/app-install-data-postinstallerf/icons/icon_epdfview-48.png
Name=ePDFViewer
Name[ca]=ePDFViewer
Name[es]=ePDFViewer
Terminal=false
Type=Application
