[Desktop Entry]
Exec=postinstaller -n freeplane
Version=1.0
Name=Freeplane
Terminal=false
Icon=/usr/share/app-install-data-postinstallerf/icons/freeplane.png
Type=Application
Categories=Office;
GenericName=Freeplane
Comment=A free tool to structure and organise your information with mind mapping
