[Desktop Entry]
Exec=postinstaller -n gbirthday
Name=GBirthday
Comment=Birthday reminder for E-Mail contacts
Comment[cs]=Upozornění na narozeniny kontaktů programu Evolution
Comment[da]=Fødselsdagshusker for e-post-kontakter
Comment[de]=Geburtstagserinnerer für E-Mail Kontakte
Comment[he]=תזכורת לימי הולדת לאנשי הקשר בדוא"ל
Comment[pl]=Przypomnienia o urodzinach kontaktów e-mail
Comment[ru]=Напоминание о Днях рождения для контактов электронной почты
Terminal=false
Type=Application
Categories=Office;
StartupNotify=false
Icon=/usr/share/app-install-data-postinstallerf/icons/gbirthday.png
