[Desktop Entry]
Exec=postinstaller -n gtg
Version=1.0
Name=Getting Things GNOME!
# KDE 4 uses GenericName
GenericName=Getting Things GNOME!
# Gnome and KDE 3 use Comment
Comment=Personal organizer for the GNOME desktop environment
Comment[pl]=Osobisty organizer dla środowiska GNOME
Icon=/usr/share/app-install-data-postinstallerf/icons/gtg.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Office;
StartupNotify=true
Name=New Task
