[Desktop Entry]
Exec=postinstaller -n skrooge
Name=skrooge
Name[ca]=skrooge
Name[ca@valencia]=skrooge
Name[cs]=skrooge
Name[da]=Skrooge
Name[de]=Skrooge
Name[el]=skrooge
Name[en_GB]=skrooge
Name[eo]=skrooge
Name[es]=skrooge
Name[fr]=skrooge
Name[it]=Skrooge
Name[nb]=skrooge
Name[nds]=Skrooge
Name[nl]=skrooge
Name[pl]=skrooge
Name[pt]=skrooge
Name[pt_BR]=Skrooge
Name[ro]=skrooge
Name[ru]=Skrooge
Name[sk]=skrooge
Name[sv]=Skrooge
Name[tr]=skrooge
Name[ug]=skrooge
Name[uk]=Skrooge
Name[x-test]=xxskroogexx
Name[zh_CN]=skrooge
Name[zh_TW]=skrooge
Icon=/usr/share/app-install-data-postinstallerf/icons/skrooge.png
Type=Application
GenericName=Manage your money
GenericName[cs]=Spravujte své peníze
GenericName[da]=Hav styr på dine penge
GenericName[de]=Verwalten Sie Ihr Geld
GenericName[el]=Διαχείριση των χρημάτων σας
GenericName[en_GB]=Manage your money
GenericName[es]=Gestione su dinero
GenericName[fr]=Gérer votre argent
GenericName[it]=Gestisci i tuoi soldi
GenericName[nb]=Hold styr på pengene dine
GenericName[nds]=Geldpleeg
GenericName[nl]=Uw geld beheren
GenericName[pl]=Zarządzaj swoimi pieniędzmi
GenericName[pt]=Faça a gestão do seu dinheiro
GenericName[pt_BR]=Gerencie seu dinheiro
GenericName[sv]=Hantera dina pengar
GenericName[ug]=پۇللارنى باشقۇرۇش پروگراممىسى
GenericName[uk]=Керуйте вашими грошима
GenericName[x-test]=xxManage your moneyxx
GenericName[zh_CN]=管理钱财
GenericName[zh_TW]=管理您的金錢
Terminal=false
Categories=Qt;KDE;Office;Finance;
