[Desktop Entry]
Exec=postinstaller -n tryton-client
Version=1.0
Type=Application
Name=Tryton
GenericName=Client for the Tryton Application Platform
GenericName[de]=Client für die Tryton Applikationsplattform
Comment=Access Tryton server
Comment[de]=Verbindet zu einem Tryton Server
Icon=/usr/share/app-install-data-postinstallerf/icons/tryton-client.png
Terminal=false
Categories=Office;Finance;
