[Desktop Entry]
Exec=postinstaller -n vprerex
Name=vprerex
GenericName=Prerequisite Chart Editor
GenericName[fr]=Éditeur de diagrammes de prérequis
Comment=Edit course prerequisite charts
Comment[fr]=Édite des diagrammes de prérequis de cours
Terminal=false
Type=Application
Categories=Office;Chart;Viewer;
