[Desktop Entry]
Exec=postinstaller -n yagf
Type=Application
Categories=Qt;Office;OCR;
Icon=/usr/share/app-install-data-postinstallerf/icons/yagf.png
Terminal=false
StartupNotify=true
Name=YAGF
Name[ru]=YAGF
Name[lt]=YAGF
Name[pl]=YAGF
Name[de]=YAGF
GenericName=OCR text recognition
GenericName[ru]=Распознавание текста
GenericName[lt]=ENTER YOUR TRANSLATION HERE
GenericName[pl]=ENTER YOUR TRANSLATION HERE
GenericName[de]=OCR Texterkennung
Comment=Graphical frontend for Cuneiform and Tesseract
Comment[ru]=Графическая оболочка для Cuneiform и Tesseract
Comment[lt]=Grafinė teksto atpažinimo programos Cuneiform sąsaja
Comment[pl]=Grafinė teksto atpažinimo programos Cuneiform sąsaja
Comment[de]=Graphische Benutzeroberfläche zu Cuneiform
