[Desktop Entry]
Exec=postinstaller -n bzr-gtk
Type=Application
Version=0.1
Name=Bazaar Notification
GenericName=Bazaar Notification
Comment=Notification Area Icon for Bazaar
Icon=/usr/share/app-install-data-postinstallerf/icons/bzr-icon-64.png
Categories=Application;Development;RevisionControl;
Terminal=false
