[Desktop Entry]
Exec=postinstaller -n cameleon
Version=1.0
Type=Application
Name=DBForge
GenericName=Database designer
GenericName[fr]=Créateur de base de données
Comment=Design database schema for OCaml
Comment[fr]=Créé des schémas de base de données pour OCaml
Categories=Development;Database;GTK;
