[Desktop Entry]
Exec=postinstaller -n distccmon-gnome
Version=0.9.4
Name=distcc monitor
GenericName=Distributed Compile Monitor
Comment=Graphical view of distributed compile tasks
Icon=/usr/share/app-install-data-postinstallerf/icons/distccmon-gnome-icon.png.png
Terminal=false
Type=Application
Categories=GNOME;Application;Development;
StartupNotify=true
