[Desktop Entry]
Exec=postinstaller -n google-gadgets-gtk
Name=Google Gadget Designer
Name[en]=Google Gadget Designer
Name[fr]=Créateur de Google Gadget
Name[zh_CN]=Google 小工具设计器
Comment=Google Gadget Designer
Comment[en]=Google Gadget Designer
Comment[fr]=Créateur de Google Gadget
Comment[zh_CN]=Google 小工具设计器
Icon=/usr/share/app-install-data-postinstallerf/icons/google-gadgets.png
Terminal=false
StartupNotify=true
Type=Application
Categories=GNOME;GTK;Development;GUIDesigner;
