[Desktop Entry]
Exec=postinstaller -n lazarus-ide-0.9.30.4
Name=Lazarus (0.9.30.4)
Comment=Lazarus IDE (0.9.30.4)
Terminal=false
Type=Application
Icon=/usr/share/app-install-data-postinstallerf/icons/lazarus.png.png
Categories=Application;IDE;Development;GTK;GUIDesigner;
StartupWMClass=Lazarus (0.9.30.4)
Type=QString
Value=.pas
