[Desktop Entry]
Exec=postinstaller -n monodevelop
Version=1.0
Name=MonoDevelop
GenericName=Integrated Development Environment
Comment=Develop .NET applications in an Integrated Development Environment
Icon=/usr/share/app-install-data-postinstallerf/icons/monodevelop.png
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Development;IDE;
