[Desktop Entry]
Exec=postinstaller -n nemiver
Version=1.0
Type=Application
Name=Nemiver
Name[ca]=Nemiver
Name[cs]=Nemiver
Name[da]=Nemiver
Name[de]=Nemiver
Name[dz]=ནི་མི་བར་
Name[en_GB]=Nemiver
Name[es]=Nemiver
Name[fi]=Nemiver
Name[fr]=Nemiver
Name[gl]=Nemiver
Name[ja]=Nemiver
Name[nb]=Nemiver
Name[nl]=Nemiver
Name[oc]=Nemiver
Name[pt_BR]=Nemiver
Name[ro]=Nemiver
Name[ru]=Nemiver
Name[sl]=Nemiver
Name[sv]=Nemiver
Name[th]=Nemiver
Name[zh_CN]=Nemiver
GenericName=C/C++ Debugger
GenericName[ca]=Depurador de C/C++
GenericName[cs]=Ladicí program C/C++
GenericName[da]=Fejlsøgning i C/C++
GenericName[de]=C/C++ Debugger
GenericName[dz]=སི/སི++ ཌི་བགག་ཇར་
GenericName[en_GB]=C/C++ Debugger
GenericName[eo]=Sencimigilo por C/C++
GenericName[es]=Depurador de C/C++
GenericName[fi]=C ja C++ -vianjäljitin
GenericName[fr]=Débogueur C/C++
GenericName[gl]=Depurador de C/C++
GenericName[ja]=Ｃ/Ｃ++ デバッガー
GenericName[nb]=C/C++ feilsøking
GenericName[pt_BR]=Depurador C/C++
GenericName[ro]=Depanator C/C++
GenericName[ru]=Отладчик C/C++
GenericName[sl]=Razhroščevalnik C/C++
GenericName[sv]=C/C++-felsökare
GenericName[th]=โปรแกรมดีบั๊ก C/C++
GenericName[zh_CN]=C/C++ 调试器
Comment=Debug Applications
Comment[ca]=Depureu aplicacions
Comment[cs]=Ladit aplikace
Comment[da]=Fejlsøgningsprogrammer
Comment[de]=Anwendungen debuggen
Comment[dz]=གློག་རིམ་ཚུ་རྐྱེན་སེལ་འབད་
Comment[en_GB]=Debug Applications
Comment[es]=Depurar aplicaciones
Comment[fi]=Jäljitä vikoja ohjelmista
Comment[fr]=Déboguer des applications
Comment[gl]=Depurar aplicativos
Comment[ja]=デバッグ・ツールです
Comment[nb]=Feilsøk programmer
Comment[nl]=Toepassingen debuggen
Comment[pt_BR]=Depure aplicativos
Comment[ro]=Depanează aplicații
Comment[ru]=Отлаживаемые приложения
Comment[sl]=Programi za razhroščevanje
Comment[sv]=Felsök program
Comment[th]=ดีบั๊กโปรแกรม
Comment[zh_CN]=调试应用程序
Icon=/usr/share/app-install-data-postinstallerf/icons/nemiver.png
Categories=GNOME;Development;Debugger;
StartupNotify=true
