[Desktop Entry]
Exec=postinstaller -n sludge-devkit
Version=1.0
Name=SLUDGE Floor Maker
Comment=Edit SLUDGE floor plans
Comment[de]=SLUDGE-Bodenpläne bearbeiten
Icon=/usr/share/app-install-data-postinstallerf/icons/sludge-floormaker.png
Terminal=false
Type=Application
StartupNotify=false
Categories=Development;IDE;GTK
