[Desktop Entry]
Exec=postinstaller -n sludge-devkit
Version=1.0
Name=SLUDGE Translation Editor
Comment=Edit SLUDGE translation files
Comment[de]=SLUDGE-Übersetzungsdateien bearbeiten
Icon=/usr/share/app-install-data-postinstallerf/icons/sludge-translationeditor.png
Terminal=false
Type=Application
StartupNotify=false
Categories=Development;IDE;GTK
