[Desktop Entry]
Exec=postinstaller -n threadscope
Version=1.0
Name=threadscope
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_threadscope_threadscope.png
Comment=Haskell GHC thread profiler
Terminal=false
Type=Application
Categories=Application;Development;
Name[es]=threadscope
Comment[es]=Perfilador de hilos para Haskell GHC
