[Desktop Entry]
Exec=postinstaller -n python-web2py
Name=web2py
Comment=Enterprise web development framework using Python
Comment[es]=Entorno empresarial de desarrollo web con Python
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_pixmaps_web2py.png
Terminal=false
Type=Application
Categories=Development;
StartupNotify=false
