[Desktop Entry]
Exec=postinstaller -n cbrpager
Name=Cbrpager
GenericName=Comic book viewer
GenericName[sv]=Serieboksläsare
GenericName[fr]=Visionneur de bandes dessinées
Comment=A viewer for comic book archives
Comment[it]=Un visualizzatore di fumetti 
Comment[es]=Un visor de comics
Comment[sv]=En serieboksläsare
Comment[fr]=Visionneur d images spécialisé dans la lecture des bandes dessinées
Comment[pl]=Przeglądarka komiksów
Icon=/usr/share/app-install-data-postinstallerf/icons/cbrpager.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Graphics;Viewer;
