[Desktop Entry]
Exec=postinstaller -n plotdrop
Name=PlotDrop
Comment=Drag and Drop graph plotting
Icon=/usr/share/app-install-data-postinstallerf/icons/plotdrop.png
Terminal=false
Type=Application
Categories=GNOME;Application;Graphics;
StartupNotify=true
