[Desktop Entry]
Exec=postinstaller -n bitstormlite
Name=BitStormLite
GenericName[zh_CN]=BitStormLite
Type=Application
Comment=A small and fast BitTorrent client
Comment[zh_CN]=一个轻巧快速的BitTorrent客户端
Terminal=false
Categories=Network
