[Desktop Entry]
Exec=postinstaller -n coccinella
Name=Coccinella
GenericName=Internet Messenger
GenericName[es]=Cliente de mensajería de Internet
GenericName[de]=Internet Chat-Programm
Comment=Communication tool with a built-in whiteboard
Comment[es]=Herramienta de comunicaciones con pizarra incorporada
Comment[de]=Kommunikations-Tool mit eingebauter Whiteboard-Funktion
Icon=/usr/share/app-install-data-postinstallerf/icons/coccinella.png
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
