[Desktop Entry]
Exec=postinstaller -n epoptes
Name=Epoptes
Name[af]=Epoptes
Name[da]=Epoptes
Name[de]=Epoptes
Name[el]=Epoptes
Name[en_AU]=Epoptes
Name[es]=Epoptes
Name[fi]=Epoptes
Name[fr]=Epoptes
Name[he]=Epoptes
Name[hu]=Epoptes
Name[it]=Epoptes
Name[ms]=Epoptes
Name[nl]=Epoptes
Name[pl]=Epoptes
Name[pt]=Epoptes
Name[pt_BR]=Epoptes
Name[ru]=Epoptes
Name[sk]=Epoptes
Name[sl]=Epoptes
Name[sv]=Epoptes
Name[uk]=Epoptes
Name[vi]=Epoptes
Comment=Epoptes computer lab administration tool
Comment[af]=Epoptes rekenaarkameradministrasieprogram
Comment[da]=Epoptes computerlaboratorieværktøj
Comment[de]=Admin-Werkzeug für Epoptes-basiertes PC-Labor
Comment[el]=Λογισμικό διαχείρισης και εποπτείας εργαστηρίου υπολογιστών
Comment[en_AU]=Epoptes computer lab administration tool
Comment[es]=Herramienta de administración del aula de ordenadores
Comment[fi]=Epoptes – tietokonehuoneen ylläpitotyökalu
Comment[fr]=Outil d administration de labo informatique Epoptes
Comment[he]=כלי לניהול מחשבי מעבדה – Epoptes
Comment[hu]=Epoptes számítógéplabor-adminisztrációs eszköz
Comment[it]=Epoptes strumento di amministrazione di un laboratorio di computer
Comment[ms]=Alat pentadbiran makmal komputer Epoptes
Comment[nl]=Epoptes-computerlokaalbeheerprogramma
Comment[pl]=Narzędzie do zarządzania komputerami w sieci
Comment[pt]=Ferramenta de administração para laboratório computacional Epoptes.
Comment[pt_BR]=Ferramenta de administração de laboratórios de informática Epoptes
Comment[ru]=Инструмент администрирования компьютерного класса Epoptes
Comment[sk]=Nástroj na správu počítačového laboratória Epoptes
Comment[sl]=Skrbniško orodje računalniškega laboratorija Epoptes
Comment[sv]=Epoptes, administrationsverktyg för datorlabb
Comment[uk]=Інструмент для адміністрування комп’ютерних класів Epoptes
Comment[vi]=Công cụ quản lý máy tính trong phòng máy tính Epoptes
Icon=/usr/share/app-install-data-postinstallerf/icons/epoptes.png
Terminal=false
Type=Application
Categories=Network;RemoteAccess;
