[Desktop Entry]
Exec=postinstaller -n google-gadgets-gtk
Name=Google Gadgets (GTK)
Name[en]=Google Gadgets (GTK)
Name[fr]=Google Gadgets (GTK)
Name[zh_CN]=Google 小工具 (GTK)
Comment=Run Google Gadgets in GNOME/GTK environment
Comment[en]=Run Google Gadgets in GNOME/GTK environment
Comment[fr]=Exécuter Google Gadgets dans un environnement GNOME/GTK
Comment[zh_CN]=在 GNOME/GTK 环境中运行 Google 小工具
Icon=/usr/share/app-install-data-postinstallerf/icons/google-gadgets.png
Terminal=false
StartupNotify=true
Type=Application
Categories=GNOME;GTK;Network;News;
