[Desktop Entry]
Exec=postinstaller -n gnome-gmail
Name=Gnome Gmail
Name[cs]=Gnome Gmail
Name[de]=GNOME-Gmail
Name[el_GR]=Gnome Gmail
Name[es]=Gnome GMail
Name[fr]=Gnome Gmail
Name[hr]=Gnome Gmail
Name[hu]=Gnome Gmail
Name[hy]=Gnome Gmail
Name[it]=Gnome Gmail
Name[ms]=Gnome Gmail
Name[pl]=GNOME Gmail
Name[pt]=Gnome Gmail
Name[ro]=Gnome Gmail
Name[ru]=Gnome Gmail
Name[sv]=Gnome Gmail
Name[ta]=க்னோம் ஜிமெயில்
Name[ta_LK]=க்னோம் ஜிமெயில்
Name[tr]=Gnome Gmail
Name[uk]=Gnome Gmail
Name[vi]=Gnome Gmail
GenericName=GMail Web Integration
Comment=Integrate GMail with your desktop
Comment[cs]=Začlenit GMail do vašeho pracovního prostředí
Comment[de]=Integriert die E-Mail-Dienste von GMail in die GNOME-Arbeitsumgebung
Comment[el_GR]=Ενσωματώστε το Gmail με την επιφάνεια εργασίας σας
Comment[es]=Integra GMail en tu escritorio
Comment[fr]=Intègre Gmail à votre bureau
Comment[hr]=Integriraj Gmail u moju radnu površinu
Comment[hu]=A GMail beépítése az asztalba
Comment[ms]=Integrasikan GMail dengan desktop anda
Comment[pl]=Integracja usługi Gmail z pulpitem
Comment[pt]=Integrar o GMail no sistema do seu computador
Comment[ru]=Интегрировать GMail с вашим рабочи столом
Comment[sv]=Integrera Gmail med skrivbordet
Comment[ta]=உங்கள் திரைபலகையுடன் இணைந்த ஜிமெயில்
Comment[ta_LK]=உங்கள் திரைபலகையுடன் இணைந்த ஜிமெயில்
Comment[tr]=Gmail i masaüstünüz ile entegre edin
Comment[uk]=Інтегрувати GMail в робоче середовище
Comment[vi]=Tích hợp GMail với máy tính của bạn
Icon=/usr/share/app-install-data-postinstallerf/icons/gnome-gmail.png
Terminal=false
Type=Application
Categories=GNOME;GTK;Email;Network;
StartupNotify=true
