[Desktop Entry]
Exec=postinstaller -n gnome-boxes
Name=Boxes
Name[as]=বাকচসমূহ
Name[be]=Boxes
Name[bg]=Машини
Name[ca]=Boxes
Name[ca@valencia]=Boxes
Name[cs]=Boxy
Name[da]=Boxes
Name[de]=Boxen
Name[en_GB]=Boxes
Name[eo]=Skatolaro
Name[es]=Cajas
Name[et]=Boxes
Name[fa]=جعبه‌ها
Name[fi]=Laatikot
Name[fr]=Machines
Name[gl]=Boxes
Name[he]=קופסאות
Name[hu]=Gépek
Name[id]=Kotak
Name[it]=Boxes
Name[ja]=Boxes
Name[ko]=박스
Name[lt]=Dėžės
Name[lv]=Kastes
Name[ml]=പെട്ടികള്‍
Name[nb]=Bokser
Name[pa]=ਡੱਬੇ
Name[pl]=Boxes
Name[pt]=Caixas
Name[pt_BR]=Boxes
Name[ru]=Системы
Name[sl]=Škatle
Name[sr]=Кутије
Name[sr@latin]=Kutije
Name[sv]=Boxes
Name[te]=పెట్టెలు
Name[ug]=قۇتىلار
Name[uk]=Коробки
Name[vi]=Máy
Name[zh_CN]=Boxes
Name[zh_HK]=箱子
Name[zh_TW]=箱子
GenericName=Simple virtual machine viewer/manager
GenericName[as]=সাধাৰণ ভাৰছুৱেল মেচিন দৰ্শক/ব্যৱস্থাপক
GenericName[be]=Простая праграма для кіравання і працы з віртуальнымі машынамі
GenericName[bg]=Лесно управление и преглед на виртуални машини
GenericName[ca]=Gestor i visualitzador simple de màquines virtuals
GenericName[ca@valencia]=Gestor i visualitzador simple de màquines virtuals
GenericName[cs]=Jednoduchý prohlížeč a správce virtuálních strojů
GenericName[da]=Simpel viser/håndtering af virtuelle maskiner
GenericName[de]=Einfacher Betrachter und Verwalter für virtuelle Maschinen
GenericName[en_GB]=Simple virtual machine viewer/manager
GenericName[eo]=Facila vidigilo/administrilo por virtualaj maŝinoj
GenericName[es]=Gestor/visor de máquinas virtuales
GenericName[et]=Lihtne virtuaalmasinate kuvaja/haldur
GenericName[fa]=مدیر/نمایشگر ساده‌ی ماشین مجازی
GenericName[fi]=Helppo virtuaalikoneen katselu-/hallintaohjelma
GenericName[fr]=Simple gestionnaire de machines virtuelles
GenericName[gl]=Visor/Xestor sinxelo de máquinas virtuais
GenericName[he]=מנהל/מציג פשוט של מכונות וירטואליות
GenericName[hu]=Egyszerű virtuálisgép-megjelenítő és -kezelő
GenericName[id]=Manajer/penilik mesin virtual yang sederhana
GenericName[it]=Semplice visualizzatore/gestore di macchine virtuali
GenericName[ja]=簡単な仮想マシンビュアー/マネージャー
GenericName[ko]=간단한 가상 머신 보기/관리자
GenericName[lt]=Paprasta virtualių mašinų žiūryklė/valdyklė
GenericName[lv]=Vienkāršs virtuālo mašīnu skatītājs/pārvaldītājs
GenericName[ml]=ലളിതമായ വിര്‍ച്ച്വല്‍ മെഷീന്‍ ദര്‍ശിനി/മാനേജര്‍
GenericName[nb]=Enkel visning/håndtering av virtuelle maskiner
GenericName[pa]=ਸੌਖਾ ਵੁਰਚੁਅਲ ਮਸ਼ੀਨ ਦਰਸ਼ਕ/ਮੈਨੇਜਰ
GenericName[pl]=Prosta przeglądarka/menedżer maszyn wirtualnych
GenericName[pt]=Gestor e visualizador simples de máquinas virtuais
GenericName[pt_BR]=Um visualizador/gerenciador de máquinas virtuais
GenericName[ru]=Диспетчер виртуальных машин
GenericName[sl]=Enostaven brskalnik in upravljalnik navideznih sistemov
GenericName[sr]=Једноставан прегледач/управник виртуелних машина
GenericName[sr@latin]=Jednostavan pregledač/upravnik virtuelnih mašina
GenericName[sv]=Enkel visare/hanterare för virtuella maskiner
GenericName[te]=సరళ వాస్తవ యంత్ర వీక్షకము/నిర్వాహకము
GenericName[uk]=Простий переглядач/організатор віртуальних машин
GenericName[vi]=Trình truy cập/quản lý máy ảo đơn giản
GenericName[zh_CN]=简单的虚拟机查看器/管理器
GenericName[zh_HK]=簡易虛擬機檢視器/管理員
GenericName[zh_TW]=簡易虛擬機檢視器/管理員
Comment=View and use virtual machines
Comment[as]=ভাৰছুৱেল মেচিনসমূহ দৰ্শন কৰক আৰু ব্যৱহাৰ কৰক
Comment[be]=Прагляд і праца з віртуальнымі машынамі
Comment[bg]=Преглед и връзка към виртуални машини
Comment[ca]=Visualitzeu i utilitzeu màquines virtuals
Comment[ca@valencia]=Visualitzeu i utilitzeu màquines virtuals
Comment[cs]=Zobrazit a používat virtuální stroje
Comment[da]=Vis og brug virtuelle maskiner
Comment[de]=Virtuelle Maschinen betrachten und verwenden
Comment[en_GB]=View and use virtual machines
Comment[eo]=Vidigi kaj uzi virtualajn maŝinojn
Comment[es]=Ver y usar máquinas virtuales
Comment[et]=Virtuaalmasinate vaatamine ja kasutamine
Comment[fa]=نمایش و استفاده از ماشین‌های مجازی
Comment[fi]=Näytä ja käytä virtuaalikoneita
Comment[fr]=Visualiser et utiliser des machines virtuelles
Comment[gl]=Ver e usar máquinas virtuais
Comment[he]=צפייה ושימוש במכונות וירטואליות
Comment[hu]=Virtuális gépek megjelenítése és használata
Comment[id]=Tilik dan pakai mesin virtual
Comment[it]=Visualizza e usa macchine virtuali
Comment[ja]=仮想マシンを表示して利用する
Comment[ko]=가상 머신 보고 사용하기
Comment[lt]=Rodyti ir naudoti virtualias mašinas
Comment[lv]=Skatīt un izmantot virtuālās mašīnas
Comment[ml]=വിര്‍ച്ച്വല്‍ മെഷീനുകള്‍ ഉപയോഗിക്കുക
Comment[nb]=Vis og bruk virtuelle maskiner
Comment[pa]=ਵੁਰਚੁਅਲ ਮਸ਼ੀਨਾ ਵੇਖੋ ਅਤੇ ਵਰਤੋਂ
Comment[pl]=Wyświetlanie i używanie maszyn wirtualnych
Comment[pt]=Visualize e utilize máquinas virtuais
Comment[pt_BR]=Ver e usar máquinas virtuais
Comment[ru]=Просмотр и использование виртуальных машин
Comment[sl]=Pogled in uporaba navideznih sistemov
Comment[sr]=Прикажите и користите виртуелне машине
Comment[sr@latin]=Prikažite i koristite virtuelne mašine
Comment[sv]=Visa och använd virtuella maskiner
Comment[te]=వాస్తవ యంత్రాలను వీక్షించండి మరియు ఉపయోగించండి
Comment[uk]=Перегляд і використання віртуальних машин
Comment[vi]=Truy cập máy ảo
Comment[zh_CN]=查看和使用虚拟机
Comment[zh_HK]=檢視與使用虛擬機
Comment[zh_TW]=檢視與使用虛擬機
Icon=/usr/share/app-install-data-postinstallerf/icons/gnome-boxes.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;RemoteAccess;
