[Desktop Entry]
Exec=postinstaller -n iceape
Name=Iceape Suite
GenericName=Internet Suite
Terminal=false
Type=Application
Categories=GTK;Network;
Icon=/usr/share/app-install-data-postinstallerf/icons/iceape.png
