[Desktop Entry]
Exec=postinstaller -n nut-monitor
Name=NUT Monitor
Name[fr]=Moniteur NUT
Comment=Network UPS Tools GUI client
Comment[fr]=Client graphique pour NUT (Network UPS Tools)
Categories=Application;Network;
Icon=/usr/share/app-install-data-postinstallerf/icons/nut-monitor.png.png
Terminal=false
Type=Application
