[Desktop Entry]
Exec=postinstaller -n transmission-qt
Name=Qtransmission Bittorrent Client
GenericName=BitTorrent Client
Comment=Download and share files over BitTorrent
Icon=/usr/share/app-install-data-postinstallerf/icons/transmission-qt.png
Terminal=false
Type=Application
Categories=Network;FileTransfer;P2P;Qt;
[Desktop Action Minimize]
