[Desktop Entry]
Exec=postinstaller -n ttb
Name=TTB Teletekst Browser
Name[nl]=TTB Teletekst Browser
Comment=Teletekst Browser
Comment[nl]=Bekijk Teletekst op je computer
Type=Application
Terminal=false
Categories=Network;
Icon=/usr/share/app-install-data-postinstallerf/icons/ttb.png
