[Desktop Entry]
Exec=postinstaller -n uget
Name=uGet
Comment=Download multiple URLs and apply it to one of setting/queue.
Icon=/usr/share/app-install-data-postinstallerf/icons/uget-icon.png
Terminal=false
Type=Application
Categories=Network;FileTransfer
