[Desktop Entry]
Exec=postinstaller -n batmon.app
Name=Battery Monitor (batmon)
Name[bg]=Монитор за заряда на батерията (batmon)
Comment=Monitor battery status
Comment[bg]=Следене на заряда на батерията
Type=Application
Version=1.0
Categories=System;Monitor;
Icon=/usr/share/app-install-data-postinstallerf/icons//usr/lib/GNUstep/Applications/batmon.app/Resources/Batmon_icon.tiff.png
