[Desktop Entry]
Exec=postinstaller -n dvdisaster
Name=dvdisaster
GenericName=data archival
GenericName[de]=Daten-Archivierung
Comment=Additional error protection for CD/DVD media
Comment[cs]=Přídavná ochrana pro média CD/DVD
Comment[de]=Zusätzliche Fehlerkorrektur für CD/DVD
Icon=/usr/share/app-install-data-postinstallerf/icons/dvdisaster.png.png
Terminal=false
Type=Application
Categories=Application;System;
