[Desktop Entry]
Exec=postinstaller -n euler
Type=Application
Version=1.0
Icon=/usr/share/app-install-data-postinstallerf/icons/euler-32.xpm.png
Categories=Education;Science;Math;
Name=Euler
GenericName=Computer Algebra System
GenericName[de]=Computer-Algebra-System
Comment=An interactive mathematical program
Comment[de]=Ein interaktives mathematisches Programm
