[Desktop Entry]
Exec=postinstaller -n herculesstudio
Icon=/usr/share/app-install-data-postinstallerf/icons/HerculesStudio.png
Name=HerculesStudio
GenericName=Hercules Studio
Comment=GUI front-end of hercules emulator
StartupNotify=true
Terminal=false
Type=Application
Categories=System;Emulator;
