[Desktop Entry]
Exec=postinstaller -n lynis
Name=Lynis auditing tool
Name[es]=Herramienta de auditoría Lynis
Comment=Security auditing tool (root)
Comment[es]=Herramienta de auditoría de seguridad (root)
Terminal=true
Type=Application
Categories=System;
StartupNotify=true
