[Desktop Entry]
Exec=postinstaller -n tcos-configurator
Version=1.0
Name=TCOS Server Configurator
Name[es]=Configurador servidor TCOS 
Comment=Configure TCOS server daemons and users
Comment[es]=Configurar servicios y usuarios del servidor TCOS
Terminal=false
Type=Application
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_tcos-configurator_images_tcos-icon-32x32.png
Categories=GNOME;Settings;System;DesktopSettings;Monitor
