[Desktop Entry]
Exec=postinstaller -n tcos-standalone
Version=1.0
Name=TCOS Standalone
Name[en_GB]=TCOS Standalone
Name[es]=TCOS Autónomo
GenericName[es_ES]=TCOS Autónomo
Comment=Configure standalone mode of TCOS
Comment[en_GB]=Configure standalone mode of TCOS
Comment[es]=Configurar modo autónomo de TCOS
Terminal=false
Type=Application
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_tcos-standalone_images_tcos-icon-32x32.png
Categories=GNOME;Settings;System;DesktopSettings;Monitor
