[Desktop Entry]
Exec=postinstaller -n hdfview
Name=hdfview
Name[de]=hdfview
Name[en]=hdfview
Comment=HDF4/5 Data Browser
Comment[DE]=HDF4/5 Daten Browser
Comment[EN]=HDF4/5 Data Browser
Terminal=false
Type=Application
Categories=Science;Physics;DataVisualization;Education;
Icon=/usr/share/app-install-data-postinstallerf/icons/hdfview.png
