[Desktop Entry]
Exec=postinstaller -n ardesia
Version=1.0
Type=Application
Name=Ardesia desktop sketchpad 
GenericName=Desktop sketchpad
Comment=Annotate on the desktop screen.
Comment[it]=Annota sullo schermo del computer
Comment[es]=Escribir en el escritorio de la computadora
Icon=/usr/share/app-install-data-postinstallerf/icons/ardesia.png.png
Terminal=false
Categories=GNOME;GTK;Utility;
StartupNotify=true
