# $Id: autokey.desktop 22 2008-01-29 11:29:13Z peabody $
[Desktop Entry]
Exec=postinstaller -n autokey-qt
Name=AutoKey (KDE)
GenericName=Keyboard Automation
Comment=Program keyboard shortcuts
Terminal=false
Type=Application
Icon=/usr/share/app-install-data-postinstallerf/icons/autokey.png
Categories=KDE;Qt;Utility;
