[Desktop Entry]
Exec=postinstaller -n bluewho
Version=1.0
Name=BlueWho
Comment=Information and notification of new discovered bluetooth devices
Type=Application
Comment[it_IT]=Informazioni e notifica dei nuovi dispositivi bluetooth rilevati
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_bluewho_data_bluewho.png
Terminal=false
Categories=Utility;GTK;
