[Desktop Entry]
Exec=postinstaller -n cellwriter
Version=1.0
Name=CellWriter
GenericName=Handwriting input panel
Comment=Grid-entry handwriting recognition input panel
Icon=/usr/share/app-install-data-postinstallerf/icons/cellwriter.png
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;Accessibility;
