[Desktop Entry]
Exec=postinstaller -n fpm2
Name=Figaro s Password Manager 2
Name[es]=Figaro s Password Manager 2
Name[eu]=Figaroren Pasahitz Kudeatzailea 2
Name[fr]=Gestionnaire de Mots de Passe de Figaro 2
Name[hu]=Figaro Jelszó Kezelő 2
Name[it]=Figaro s Password Manager 2
Name[ru]=Figaro s Password Manager 2
GenericName=Password Manager
Comment=Manage passwords
Terminal=false
StartupNotify=true
Type=Application
Icon=/usr/share/app-install-data-postinstallerf/icons/fpm2.png
Categories=GTK;Utility;
