[Desktop Entry]
Exec=postinstaller -n gdevilspie
Name=gDevilspie
Comment=GUI for devilspie matching daemon
Terminal=false
Type=Application
StartupNotify=true
Icon=/usr/share/app-install-data-postinstallerf/icons/gdevilspie.png
Categories=GNOME;Utility;
