[Desktop Entry]
Exec=postinstaller -n gmobilemedia
Name=gMobileMedia (Mobile Media Browser)
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_gmobilemedia_ui_gmobilemedia_icon.png
Terminal=false
Type=Application
Categories=Utility;Telephony;
