[Desktop Entry]
Exec=postinstaller -n gnome-activity-journal
Type=Application
Name=Activity Journal
Name[ast]=Diariu d actividá
Name[bg]=Дневник на действията
Name[ca]=Diari d activitats
Name[cs]=Deník aktivit
Name[de]=Tagebuch über Aktivitäten
Name[el]=Ημερολόγιο δραστηριοτήτων
Name[en_GB]=Activity Journal
Name[es]=Diario de actividad
Name[eu]=Jarduera-egunkaria
Name[fr]=Journal d activités
Name[hu]=Aktivitásfigyelő
Name[it]=Giornale delle attività
Name[ko]=활동 일지(저널)
Name[lt]=Veiklos žurnalas
Name[ml]=ആക്ടിവിറ്റി ജേര്‍ണല്‍
Name[nl]=Activiteitendagboek
Name[pl]=Dziennik aktywności
Name[pt_BR]=Diário de atividades
Name[ro]=Jurnal de activitate
Name[ru]=Журнал активности
Name[sl]=Dnevnik dejavnosti
Name[sq]=Ditari i aktiviteteve
Name[sv]=Aktivitetsjournal
Name[tr]=Etkinlik Günlüğü
Name[uk]=Журнал активності
Name[vi]=Nhật Ký Hoạt Động
Name[zh_CN]=活动志
GenericName=Activity Journal
GenericName[ast]=Diariu d actividá
GenericName[bg]=Дневник на действията
GenericName[ca]=Diari d activitats
GenericName[cs]=Deník aktivit
GenericName[de]=Tagebuch über Aktivitäten
GenericName[el]=Ημερολόγιο δραστηριοτήτων
GenericName[en_GB]=Activity Journal
GenericName[es]=Diario de actividad
GenericName[eu]=Jarduera-egunkaria
GenericName[fr]=Journal d activités
GenericName[hu]=Aktivitásfigyelő
GenericName[it]=Giornale delle attività
GenericName[ko]=활동 일지(저널)
GenericName[lt]=Veiklos žurnalas
GenericName[ml]=ആക്ടിവിറ്റി ജേര്‍ണല്‍
GenericName[nl]=Activiteitendagboek
GenericName[pl]=Dziennik aktywności
GenericName[pt_BR]=Diário de atividades
GenericName[ro]=Jurnal de activitate
GenericName[ru]=Журнал активности
GenericName[sl]=Dnevnik dejavnosti
GenericName[sq]=Ditari i aktiviteteve
GenericName[sv]=Aktivitetsjournal
GenericName[tr]=Etkinlik Günlüğü
GenericName[uk]=Журнал активності
GenericName[vi]=Nhật Ký Hoạt Động
GenericName[zh_CN]=活动志
Comment=Browse a chronological log of your activities and easily find files, contacts, etc.
Comment[ast]=Revisa un rexistru cronolóxicu de les actividaes y alcuentra fácilmente ficheros, contautos, etc.
Comment[bg]=Разглеждайте хронологичен запис на вашите дейности  и лесно откривайте файлове, контакти и т. н.
Comment[ca]=Vegeu un registre cronològic de les vostres activitats i trobeu fàcilment fitxers, contactes, etc.
Comment[cs]=Objevte chronologický záznam vašich aktivit s jednoduchým hledáním souborů, kontaktů, a dalšími skvělými funkcemi!
Comment[de]=Durchsuche eine chronologische Auflistung deiner Aktivitäten und finde so einfach Dateien, Kontakte und Sonstiges
Comment[el]=Περιήγηση μιας χρονολογικής καταγραφής των δραστηριοτήτων σας, για εύκολη εύρεση αρχείων, επαφών, κλπ.
Comment[en_GB]=Browse a chronological log of your activities and easily find files, contacts, etc.
Comment[es]=Examine un registro cronológico de sus actividades y encuentre fácilmente archivos, contactos, etc.
Comment[eu]=Arakatu zure jardueren egunkari kronologikoa eta bilatu fitxategiak, kontaktuak, etab. modu errazean.
Comment[fr]=Parcourez un historique de vos activités et retrouvez facilement vos fichiers, contacts, etc.
Comment[hu]=Időrendbe szedett napló a tevékenységeiről. Segítségével egyszerűen megtalálhatja a fájljait, kapcsolatait stb.
Comment[it]=Consente di visualizzare un registro cronologico delle proprie attività e trovare con facilità file, contatti, ecc...
Comment[ko]=시간대별로 활동기록을 검색하여, 연락처 또는 파일등을 쉽게 찾을 수 있다.
Comment[lt]=Naršyti veiklų chronologinį žurnalą ir lengvai pasiekti failus, kontaktus ir t. t.
Comment[ml]=കാലഗതി അനുസരിച്ചുള്ള നിങ്ങളുടെ പ്രവര്‍ത്തികളുടെ ഒരു ലോഗ്  പരതുകയും, എളുപ്പത്തില്‍ ഫയലുകള്‍, വിലാസങ്ങള്‍ തുടങ്ങിയവ കണ്ടെത്തുക.
Comment[nl]=Blader door een chronologisch dagboek van je activiteiten om gemakkelijk bestanden terug te vinden.
Comment[pl]=Przeglądanie chronologicznego dziennika aktywności oraz łatwe wyszukiwanie plików, kontaktów itp.
Comment[pt_BR]=Navegue em um registo cronológico de suas atividades e encontre facilmente arquivos, contatos, etc.
Comment[ro]=Navighează jurnalul cronologic al activităților tale și găsește ușor fișierele, contactele, etc.
Comment[ru]=Хронология вашей активности и лёгкое нахождение файлов, контактов и т.п.
Comment[sl]=Brskajte po kronološkem dnevniku svojih dejavnosti in enostavno najdite datoteke, stike, itn.
Comment[sq]=Shfleto kronologjinë e veprimtarisë tuaj dhe gjej lehtësisht skedarë, adresa, etj.
Comment[sv]=Bläddra i en kronologisk logg över dina aktiviteter och hitta enkelt filer, kontakter etc.
Comment[tr]=Etkinliklerinizin sürebilimsel kütüklerine göz atın ve dosyaları, kişileri vb. kolayca bulun.
Comment[uk]=Перегляд хронології Ваших дій та легкий пошук файлів, контактів та ін.
Comment[vi]=Duyệt nhật kí hoạt động của bạn theo thứ tự thời gian giúp dễ dàng tim kiếm tập tin và liên hệ...
Comment[zh_CN]=浏览按时间顺序排列的活动志，轻松找到文件。
Icon=/usr/share/app-install-data-postinstallerf/icons/gnome-activity-journal.png
Categories=GTK;Utility;
