[Desktop Entry]
Exec=postinstaller -n gnome-split
Version=1.1
Type=Application
Name=GNOME Split
GenericName="Files splitter"
GenericName[fr]="Découpeur de fichiers"
Comment=Split and assemble files easily
Comment[fr]=Découpage et assemblage de fichiers
Categories=GNOME;GTK;Utility;
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_pixmaps_gnome-split.png
