[Desktop Entry]
Exec=postinstaller -n katoob
Version=1.0
Type=Application
Name=Katoob
Name[ar]=كتوب
Name[ja]=Katoob
Comment=Multilingual Unicode Text Editor
Comment[ar]=محرر نصوص متعدد اللغات
Comment[cz]=Vícejazykový textový editor
Comment[fr]=Éditeur de texte multilingue Unicode
Comment[he]=עורך טקסט יוניקוד רב-לשוני
Comment[ja]=多国語対応Unicodeテキストエディタ
Icon=/usr/share/app-install-data-postinstallerf/icons/katoob-icon.pmg.png
Terminal=false
Categories=Utility;TextEditor
