[Desktop Entry]
Exec=postinstaller -n komparator
Name=Komparator4
Name[x-test]=xxKomparator4xx
Icon=/usr/share/app-install-data-postinstallerf/icons/komparator4.png
Type=Application
Comment=A KDE Directory Synchronization Application
Comment[de]=Eine KDE-Anwendung zum Abgleich von Ordnern
Comment[x-test]=xxA KDE Directory Synchronization Applicationxx
Terminal=false
Categories=Qt;KDE;Utility;Archiving;
