[Desktop Entry]
Exec=postinstaller -n lifeograph
Version=1.0
Name=Lifeograph
GenericName=Diary
GenericName[ar]=المذكرة
GenericName[cs]=Deník
GenericName[de]=Tagebuch
GenericName[es]=Diario
GenericName[eu]=Egunerokoa
GenericName[fr]=Journal
GenericName[gl]=Diario
GenericName[hu]=Napló
GenericName[it]=Diario
GenericName[nl]=Dagboek
GenericName[pl]=Dziennik
GenericName[pt_BR]=Diário
GenericName[ro]=Jurnal
GenericName[ru]=Дневник
GenericName[sr]=Дневник
GenericName[sv]=Dagbok
GenericName[tr]=Günlük
GenericName[zh_CN]=日记
Comment=Keep a private journal of your life
Comment[ar]=الحفاظ على دفتر خاص عن حياتك
Comment[cs]=Udržujte si soukromý denník svého života
Comment[de]=Führe ein geheimes Tagebuch über dein Leben
Comment[es]=Mantenga un diario privado de su vida
Comment[eu]=Gorde ezazu zure bizitzaren eguneroko pribatua
Comment[fr]=Journal intime
Comment[gl]=Leve un diario privado da súa vida
Comment[hu]=Vezesse titkos naplóját
Comment[it]=Mantieni un diario privato della tua vita
Comment[nl]=Logboek bijhouden van uw leven
Comment[pl]=Zapisuj prywatny dziennik swojego życia
Comment[pt_BR]=Mantenha um jornal privado de sua vida
Comment[ro]=Țineți un jurnal personal al vieții dumneavostră
Comment[ru]=Ведение личного дневника
Comment[sr]=Водите лични дневник вашег живота
Comment[sv]=För en privat dagbok över ditt liv
Comment[tr]=Hayatınızın özel bir günlüğünü tutun
Comment[zh_CN]=管理您的私人日记
Type=Application
Terminal=false
Icon=/usr/share/app-install-data-postinstallerf/icons/lifeograph.png
Categories=Utility
StartupNotify=true
