[Desktop Entry]
Exec=postinstaller -n nedit
Version=1.0
Name=NEdit
Icon=/usr/share/app-install-data-postinstallerf/icons/Nedit.png
Terminal=false
Type=Application
Categories=Motif;Utility;TextTools;
GenericName=Text editor
GenericName[en]=Text editor
GenericName[nl]=Tekst verwerker
