[Desktop Entry]
Exec=postinstaller -n pyprompter
Name=pyprompter
GenericName=Predictive text editor
Comment=Predictive text editor powered by presage
Icon=/usr/share/app-install-data-postinstallerf/icons/pyprompter.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;Accessibility;
