[Desktop Entry]
Exec=postinstaller -n qdacco
Type=Application
Name=Qdacco dictionary
Name[ca]=Diccionari qdacco
GenericName=Catalan - English Dictionary
GenericName[ca]=Diccionari català - anglès
Comment=Search words in an catalan - english dictionary
Comment[ca]=Cerca paraules en un diccionari català - anglès
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_qdacco_qdacco.png
Terminal=false
Categories=Utility;Dictionary;
