[Desktop Entry]
Exec=postinstaller -n shutter
Version=1.0
Name=Shutter
Name[de_DE]=Shutter
Name[pt_BR]=Shutter
GenericName=Screenshot Tool
GenericName[de_DE]=Anwendung für Bildschirmfotos
GenericName[pt_BR]=Captura de tela
Comment=Capture, edit and share screenshots
Comment[de_DE]=Bildschirmfotos aufnehmen, bearbeiten und mit Anderen teilen
Comment[pt_BR]=Aplicativo avançado para capturar imagens da tela
Icon=/usr/share/app-install-data-postinstallerf/icons/shutter.png
Terminal=false
Type=Application
Categories=Utility;Application;
Name=Capture an area of the screen
Name=Capture the entire screen
Name=Select a window to capture
Name=Capture the current active window
