[Desktop Entry]
Exec=postinstaller -n sylph-searcher
Icon=/usr/share/app-install-data-postinstallerf/icons/sylph-searcher.png
Terminal=false
Type=Application
Name=Sylph-Searcher
Name[ja]=Sylph-Searcher
Comment=Full-text search program for Sylpheed
Comment[ja]=Sylpheed の全文検索プログラム
Name[es]=Sylph-Searcher
Comment[es]=Programa de búsqueda «full-text» para Sylpheed
Categories=Utility;
