[Desktop Entry]
Exec=postinstaller -n tucnak2
# vim:encoding=utf-8
# The format of this file is specified at
# http://freedesktop.org/Standards/desktop-entry-spec
# The entries are in the order they are listed in version 1.0
# for registered categories see http://standards.freedesktop.org/menu-spec/1.0/apa.html
Type=Application
Version=1.0
Name=Tucnak 2
Name[cs]=Tučňák 2
Comment=VHF Contest Logger
Comment[cs]=Závodní deník pro VKV
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_pixmaps_tucnak2.png
Terminal=false
Categories=Utility;HamRadio
StartupNotify=false
