[Desktop Entry]
Exec=postinstaller -n twclock
Name=twclock
Name[en_US]=twclock
Comment=World Clock and CW ID for Ham Radio Operators
Comment[en_US]=World Clock and CW ID for Ham Radio Operators
Icon=/usr/share/app-install-data-postinstallerf/icons/twclock.png.png
Terminal=false
Type=Application
Categories=Utility;HamRadio
