[Desktop Entry]
Exec=postinstaller -n unison-gtk
Name=Unison
Comment=GTK interface for the unison file synchronization tool 2.40.65
GenericName=File synchronization tool
Terminal=false
Type=Application
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_pixmaps_unison-gtk.png
Categories=Utility;FileTools;GTK;
StartupWMClass=Unison-gtk
StartupNotify=true
