[Desktop Entry]
Exec=postinstaller -n x-tile
Name=X Tile
Comment=Tile the Windows Upon your X Desktop
Icon=/usr/share/app-install-data-postinstallerf/icons/_usr_share_pixmaps_x-tile.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Utility;
Name[en_US]=x-tile
