[Desktop Entry]
Exec=postinstaller -n xfce4-taskmanager
Name=Task Manager
Name[ca]=Gestor de processos
Name[da]=Opgaverhåndtering
Name[el]=Διαχειριστής εργασιών
Name[es]=Administrador de tareas
Name[fi]=Tehtävienhallinta
Name[fr]=Gestionnaire de tâches
Name[gl]=Xestor de tarefas
Name[hr]=Upravitelj zadacima
Name[hu]=Feladatkezelő
Name[ja]=タスクマネージャ
Name[kk]=Үрдістерді басқарушысы
Name[pt]=Gestor de Tarefas
Name[pt_BR]=Gerenciador de tarefas
Name[ru]=Диспетчер задач Xfce 4
Name[sk]=Správca úloh
Name[sq]=Përgjegjës Procesesh
Name[tr]=Görev Yöneticisi
Name[ug]=ۋەزىپە باشقۇرغۇ
Name[uk]=Диспетчер задач
Name[zh_CN]=任务管理器
Comment=Easy to use task manager
Comment[ca]=Gestor de tasques fàcil d usar
Comment[da]=En nem opgavehåndtering
Comment[el]=Εύκολος στην χρήση διαχειριστής διεργασιών
Comment[es]=Administrador de tareas fácil de usar
Comment[fi]=Helppokäyttöinen tehtävienhallinta
Comment[fr]=Gestionnaire de tâches simple et léger
Comment[gl]=Xestor de tarefas fácil de usar
Comment[hr]=Lagan za upotrebu upravitelj zadacima
Comment[hu]=Egyszerűen használható feladatkezelő
Comment[ja]=使いやすいタスクマネージャ
Comment[kk]=Жүйе үрдістерін ыңғайлы басқару
Comment[pt]=Gestor de tarefas fácil de usar
Comment[pt_BR]=Um gerenciador de tarefas fácil de usar
Comment[ru]=Простой менеджер процессов
Comment[sk]=Ľahko použiteľný správca úloh
Comment[sq]=Përgjegjës procesesh i lehtë për t u përdorur
Comment[tr]=Kullanımı kolay görev yöneticisi
Comment[ug]=ئىشلىتىشكە ئەپلىك ۋەزىپە باشقۇرغۇ
Comment[uk]=Простий у використанні диспетчер задач
Comment[zh_CN]=易用的任务管理器
GenericName=Task Manager
GenericName[ca]=Gestor de processos
GenericName[da]=Opgaverhåndtering
GenericName[el]=Διαχειριστής εργασιών
GenericName[es]=Administrador de tareas
GenericName[fi]=Tehtävienhallinta
GenericName[fr]=Gestionnaire de tâches
GenericName[gl]=Xestor de tarefas
GenericName[hr]=Upravitelj zadacima
GenericName[hu]=Feladatkezelő
GenericName[ja]=タスクマネージャ
GenericName[kk]=Үрдістерді басқарушысы
GenericName[pt]=Gestor de Tarefas
GenericName[pt_BR]=Gerenciador de tarefas
GenericName[ru]=Диспетчер задач Xfce 4
GenericName[sk]=Správca úloh
GenericName[sq]=Përgjegjës Procesesh
GenericName[tr]=Görev Yöneticisi
GenericName[ug]=ۋەزىپە باشقۇرغۇ
GenericName[uk]=Диспетчер задач
GenericName[zh_CN]=任务管理器
Icon=/usr/share/app-install-data-postinstallerf/icons/utilities-system-monitor.png
Terminal=false
StartupNotify=true
Type=Application
Categories=System;Utility;
