[Desktop Entry]
Exec=postinstaller -n xfce4-clipman
Version=1.0
Type=Application
Name=Clipman
Name[ar]=Clipman
Name[ast]=Clipman
Name[ca]=Porta-retalls «Clipman»
Name[cs]=Správce schránky
Name[da]=Clipman
Name[de]=Zwischenablage
Name[el]=Clipman
Name[en_GB]=Clipman
Name[es]=Clipman
Name[eu]=Clipman
Name[fi]=Clipman
Name[fr]=Clipman
Name[gl]=Clipman
Name[he]=Clipman
Name[hr]=Clipman
Name[hu]=Clipman
Name[id]=Clipman
Name[is]=Clipman
Name[it]=Clipman
Name[ja]=Clipman
Name[kk]=Clipman
Name[ko]=Clipman
Name[lt]=Clipman
Name[lv]=Starpliktuve
Name[nb]=Clipman
Name[nl]=Clipman
Name[pl]=Menedżer schowka
Name[pt]=Clipman
Name[pt_BR]=Clipman
Name[ru]=Менеджер буфера обмена (Clipman)
Name[sk]=Clipman
Name[sv]=Clipman
Name[tr]=Clipman
Name[ug]=Clipman
Name[uk]=Керування буфером обміну
Name[ur]=کلپ مین
Name[ur_PK]=کلپ مین
Name[vi]=Clipman
Name[zh_CN]=Clipman 剪贴板管理器
Name[zh_TW]=Clipman
Comment=Clipboard manager
Comment[ar]=مدير الحافظة
Comment[ast]=Xestor de cartafueyu
Comment[ca]=Gestor del porta-retalls
Comment[cs]=Správce schránky
Comment[da]=Udklipsholderhåndtering
Comment[de]=Verwaltung der Zwischenablagen
Comment[el]=Διαχειριστής προχείρου
Comment[en_GB]=Clipboard manager
Comment[es]=Gestor del portapapeles
Comment[eu]=Arbel kudeatzailea
Comment[fi]=Leikepöytien hallintatyökalu
Comment[fr]=Gestionnaire de presse-papier
Comment[gl]=Xestor de portarretallos
Comment[he]=מנהל לוח גזירה
Comment[hr]=Upravitelj međuspremnika
Comment[hu]=Vágólapkezelő
Comment[id]=Manajer papan klip
Comment[is]=Klippispjaldsstjóri
Comment[it]=Gestore degli appunti
Comment[ja]=クリップボードマネージャ
Comment[kk]=Алмасу буферін басқарушысы
Comment[ko]=클립보드 관리자
Comment[lt]=Iškarpinės tvarkyklė
Comment[lv]=Starpliktuves pārvaldnieks
Comment[nl]=Klembordbeheerder
Comment[pl]=Zarządza skopiowanymi elementami
Comment[pt]=Gestor de área de transferência
Comment[pt_BR]=Gerenciador de área de transferência
Comment[ru]=Менеджер буфера обмена
Comment[sk]=Správca schránky
Comment[sv]=Urklippshanterare
Comment[tr]=Pano yöneticisi
Comment[ug]=Clipboard باشقۇرغۇ
Comment[uk]=Керування буфером обміну
Comment[ur]=کلپ بورڈ منیجر
Comment[ur_PK]=کلپ بورڈ منیجر
Comment[vi]=Trình quản lý bộ nhớ đệm
Comment[zh_CN]=剪贴板管理器
Comment[zh_TW]=剪貼簿管理員
Icon=/usr/share/app-install-data-postinstallerf/icons/xfce4-clipman-plugin.png
Terminal=false
Categories=GTK;Utility;TrayIcon;
StartupNotify=false
