[Desktop Entry]
Exec=postinstaller -n zipper.app
Type=Application
Version=0.94
Categories=Compression;Archiving;Utility;
Name=Zipper
Comment=GUI for various compressed file formats
Icon=/usr/share/app-install-data-postinstallerf/icons/zipper.tiff.png
