[Desktop Entry]
Exec=postinstaller -n lshw-gtk
Type=Application
Name=Hardware Lister
Name[es]=Listar equipamiento
Comment=Provides information on hardware
Comment[ca]=Proveeix informació sobre el maquinari
Comment[es]=Ofrece información sobre el equipamiento instalado
Icon=/usr/share/app-install-data-postinstallerf/icons/lshw-gtk.png
Terminal=false
Categories=Settings;HardwareSettings;
