[Desktop Entry]
Exec=postinstaller -n kde-config-touchpad
Type=Application
Terminal=false
Icon=/usr/share/app-install-data-postinstallerf/icons/synaptiks.png
Categories=Qt;KDE;Utility;HardwareSettings;
Name=synaptiks
Name[de]=synaptiks
GenericName=Touchpad management
GenericName[de]=Touchpad-Verwaltung
