[Desktop Entry]
Exec=postinstaller -n catfish
Version=1.0
Type=Application
Name=Catfish
Comment=File search
Comment[de]=Dateisuche
Comment[es]=Buscador de archivos
Comment[fi]=Etsi tiedostoja
Comment[fr]=Recherche de fichiers
Categories=GTK;Utility;Filesystem;
Icon=/usr/share/app-install-data-postinstallerf/icons/catfish.png
Terminal=false
StartupNotify=true
