[Desktop Entry]
Exec=postinstaller -n docky
Name=Docky
Type=Application
Terminal=false
Icon=/usr/share/app-install-data-postinstallerf/icons/docky.png
Comment=The finest dock no money can buy.
Comment[ast]=El meyor dock que nengún dineru pue mercar.
Comment[bs]=Najbolji panelčić, koji nijedan novac ne može kupiti
Comment[de]=Das tollste Dock, welches man nicht für Geld kaufen kann.
Comment[el]=Το καλύτερο dock που δεν μπορούν να αγοράσουν τα λεφτά.
Comment[en_GB]=The finest dock no money can buy.
Comment[es]=El mejor dock que el dinero no puede comprar.
Comment[eu]=Diruz erosi ezin daitekeen dock-ik ederrena.
Comment[fi]="Hienoin telakkasovellus mitä rahalla ei saa."
Comment[fo]=Tann fínasti dokkurin eingir pengar kunnu keypa
Comment[fr]=Le plus beau dock du monde
Comment[gl]=O mellor dock que os cartos non poden mercar.
Comment[hr]=Najbolji dock kojeg novac ne može kupiti.
Comment[hu]=A legjobb dokk, amit nem lehet pénzért megvenni.
Comment[id]=Dermaga terbaik uang tidak bisa membeli.
Comment[is]=Betri er stika en keldi.
Comment[it]=La migliore dock che nessuna moneta può comprare.
Comment[ja]=お金では買えない至高のドック
Comment[kk]=Ақшаға сатылмайтын ең күшті док.
Comment[ko]=돈으로도 살 수 없는 최고의 독.
Comment[lt]=Geriausias skydelis, neįpirkamas už jokius pinigus.
Comment[nb]=Det fineste samlevinduet som ikke kan kjøpes.
Comment[nl]=De beste dock die je niet kunt kopen.
Comment[pl]=Najlepszy dock, jakiego nie kupisz za żadne pieniądze.
Comment[pt]=A melhor dock que nenhum dinheiro pode comprar.
Comment[pt_BR]=O melhor dock que dinheiro algum pode comprar.
Comment[ro]=Aplicație pentru acces rapid (dock) neprețuită.
Comment[ru]=Бесценный док
Comment[sl]=Najboljše sidrišče, ki ga ne more kupiti noben denar.
Comment[sr]=Најбољи док који се не може купити новцем.
Comment[sv]=Den finaste dockan som inga pengar kan köpa.
Comment[tr]=Ücretsiz kullanabileceğiniz en iyi dock programı.
Comment[uk]=Найкращий безкоштовний док.
Comment[zh_TW]=有錢也買不到的超棒 Dock 工具列。
Categories=Utility;
