[Desktop Entry]
Exec=postinstaller -n qalculate-gtk
Name=Qalculate!
Name[nl]=Qalculate!
Name[sv]=Qalculate!
Comment=Powerful and easy to use calculator
Comment[nl]=Gemakkelijk te gebruiken rekenmachine met veel mogelijkheden
Comment[sv]=Kraftfull och användarvänlig miniräknare
Icon=/usr/share/app-install-data-postinstallerf/icons/qalculate.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;Utility;
