[Desktop Entry]
Exec=postinstaller -n gxmms2
Name=gxmms2
GenericName=Audio Player
Comment=Play music
Comment[de]=Musik abspielen
Categories=GTK;AudioVideo;Audio;Player;
Icon=/usr/share/app-install-data-postinstallerf/icons/xmms2.png
Terminal=false
Type=Application
