[Desktop Entry]
Exec=postinstaller -n mplayer-gui
Type=Application
Name=MPlayer
GenericName=Media Player
GenericName[ca]=Reproductor multimèdia
GenericName[de]=Medienwiedergabe
GenericName[fr]=Lecteur multimédia
GenericName[it]=Lettore multimediale
GenericName[ja]=メディアプレーヤー
Comment=Play movies and songs
Comment[ca]=Reproduïu vídeos i cançons
Comment[de]=Filme und Musik wiedergeben
Comment[fr]=Lit les films et musiques
Comment[it]=Riproduce filmati e musica
Comment[ja]=動画や音声のファイルを再生します
Icon=/usr/share/app-install-data-postinstallerf/icons/mplayer.png
Terminal=false
Categories=GTK;AudioVideo;Audio;Video;Player;TV;
